
    <div class="container-fluid" style="margin-top:200px;">
		<div class="row">
			<div class="col-xs-12 col-sm-offset-2 col-sm-8" style="margin-top:-130px;">
					
				<ul class="event-list">
					<li>
						<time datetime="2014-07-20">
							Departs:
							<span class="day">10</span>
							<span class="month">Jul</span>
							<span class="year">2014</span>
							<span class="time">ALL DAY</span>
						</time>
						
						<div class="info">
							<p class="lead"> Flight one</p>
							<p class="desc"><span>Departs:</span> Auckland</p>
						</div>
						<div class="panel panel-default panel-shadow">
							<div class="panel-heading">
								More info
							</div>
						</div>
					</li>

					<li>
						<time datetime="2014-07-20 0000">
							<span class="day">8</span>
							<span class="month">Jul</span>
							<span class="year">2014</span>
							<span class="time">12:00 AM</span>
						</time>
						<div class="info">
							
							<p class="desc">PS Vita</p>
							<ul>
								<li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span> Website</a></li>
								<li style="width:50%;"><span class="fa fa-money"></span> $39.99</li>
							</ul>
						</div>
							<div class="panel panel-default panel-shadow">
							<div class="panel-heading">
								More info
							</div>
						</div>
					</li>

					<li>
						<time datetime="2014-07-20 2000">
							<span class="day">20</span>
							<span class="month">Jan</span>
							<span class="year">2014</span>
							<span class="time">8:00 PM</span>
						</time>
						<img alt="My 24th Birthday!" src="https://farm5.staticflickr.com/4150/5045502202_1d867c8a41_q.jpg" />
						<div class="info">
						
							<p class="desc">Bar Hopping in Erie, Pa.</p>
							<ul>
								<li style="width:33%;"><span class="fa fa-user"></span> </span> Adults: 1 </li>
								<li style="width:33%;"><span class="fa fa-child"></span> Children: 3 </li>
								<li style="width:33%;"><span class="fa fa-child"></span> Infants: 2</li>
							</ul>
						</div>
							<div class="panel panel-default panel-shadow">
							<div class="panel-heading">
								More info
							</div>
						</div>
					</li>

					<li>
						<time datetime="2014-07-31 1600">
							<span class="day">31</span>
							<span class="month">Jan</span>
							<span class="year">2014</span>
							<span class="time">4:00 PM</span>
						</time>
						<img alt="Disney Junior Live On Tour!" src="http://www.thechaifetzarena.com/images/main/DL13_PiratePrincess_thumb.jpg" />
						<div class="info">
						
							<p class="desc"> Pirate and Princess Adventure</p>
							<ul>
								<li style="width:33%;">$49.99 <span class="fa fa-male"></span></li>
								<li style="width:34%;">$29.99 <span class="fa fa-child"></span></li>
							</ul>
						</div>
							<div class="panel panel-default panel-shadow">
							<div class="panel-heading">
								More info
							</div>
						</div>
					</li>
					  	<button class="btn btn-lg btn-info btn-block m-progress">Load more results</button>
				</ul>
			</div>
		</div>
</div>
