   <div class="row"> 
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <a href="#">
                            <img data-src="image" data-alt="largeImageAlt" class="img-responsive img-box img-thumbnail"> 
                        </a>
                    </div> 
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-picture">
                                    <a href="#">
                                        <img class="circle img-thumbnail img-box" data-src="smallImage" data-alt"smallImageAlt">
                                    </a>
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading">
                                        <a href="#" title="sintret">
                                            <small data-content="hotelTitle">t</small>
                                        </a>
                                    </div>
                                    <small>
                                        This is where amenities will go
                                    </small>
                            </div>
                            </div>
                        </div>
                        <p><a href="#" data-content="name"></a></p>
                        <p data-content="star_rating"></p>
                        <p data-content="longitude"></p>
                        <p data-content="latitude"></p>
                    </div> 
                </div>