<style>
.item .glyphicon { margin-right:5px; }
.item .thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.caption h4{
    font-size:16px;
}
.caption .btn{
    float:right;
}


.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}


.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
label{
    font-weight:normal;
}

</style>
<!--
}    /*setInterval(function(){
        const $itemDiv = $('<div></div>',{class:'item col-xs-4 col-lg-4'});
        const $thumbNail = $('<div></div>',{class:'thumbnail'});
        const $itemImage = $('<img/>',{src:'http://placehold.it/400x250/000/fff'});
        const $caption = $('<div></div>',{class:'caption'});

        const $h4 = $('<h4></h4>',{'class':'group inner list-group-item-heading'}).text('Product title');
        const $p = $('<p></p>',{class:'group inner list-group-item-text'}).text('Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat');
        const $row =    $('<div></div>',{class:'row'});
           
        const $div_12_1 = $('<div></div>',{class:'col-xs-12 col-md-6'});
        const $div_12_2 =  $('<div></div>',{class:'col-xs-12 col-md-6'});
        const $p_1 = $('<p></p>',{class:'lead'}).text('$1.00');
        const $viewDets =  $('<a></a>',{class:'btn btn-info',href:''}).text('View details');
        $itemDiv.append(
            $thumbNail.append($itemImage)
            .append(
                $caption.append($h4)
                .append($p)
                .append($row
                    .append($div_12_1.append($p_1))
                    .append($div_12_2.append($viewDets) )
                )
            )
        );
        $itemDiv.fadeOut(0);
        $('#products').append($itemDiv.fadeIn(1000));
    },3000);*/
-->
<script>
(function(){
    var pageIndex = 1;

    function renderView(response,r,xhr){
        const _this = this;
        if ((response.errors || response.error) && response.errorType != 'gettyImageServiceRequest') {
                console.log(response)
                window.alert(JSON.stringify(response.errors))
        } else {
            //Map and render
            (function pollSession(pageIndex,nextPollUrl){
                $.ajax({
                    type: window.seatfilla.globals.site.endpoints.maps.retrieveFlightInfo.method,
                    url: '/maps/pollSkyScannerFlightLivePricingApi',
                    data: {
                    urlEndPoint: nextPollUrl,
                    destinationName: _this.destination.name,
                    newskyscannerpageindex: pageIndex,
                    newgettyimagespageindex: pageIndex,
                    gettyimagespagesize: 10,
                    skyscannerpagesize: 10
                    },
                    success: function(response,r,xhr){
                        if(response.result.Status != 'UpdatesComplete'){
                            console.log(response)
                            return pollSession(pageIndex,response.result.urlEndPoint.url);
                        }

                        pageIndex+=1;
                        console.log('final response:')
                        console.log(response);

                        const template = $.templates('#myTemplate');
                        const html = template.render(response);
                        $('#container').append(html);
                    }
                })
           })(pageIndex,response.result.urlEndPoint.url)
        }
    }

    function handleAjaxError(err){
        console.log(err);
        $.toaster({priority:'error',message:'Error with request to server'});
    }

    (function(){
        function attach(){

            $('#list').click(function(event){
                event.preventDefault();$('#products .item').addClass('list-group-item');
                $('#products .item .switch').removeClass('thumbnail')
            });
        
            $('#grid').click(function(event){
                event.preventDefault();
                $('#products .item').removeClass('list-group-item');
                $('#products .item').addClass('grid-group-item');
                $('#products .item .switch').addClass('thumbnail')
            });

            $('#flightForm').submit(function(e){
                e.preventDefault();
       
                const departureCity =  $('#departureCity').val();
                const departureCityIataCode = $('#departureCity option:selected').attr('data-attr-iataCode');
                const departureCountry = $('#departureCountry').val();
                const departureAirport = $('#departureAirport').val();
                const departureAirportCountry = $('#departureAirport option:selected').attr('data-attr-countryId');
                console.log('departureDate:')
                console.log($('#departureDate').val())
                const departureDate = moment($('#departureDate').val()).format('YYYY-MM-DD');

                console.log(departureCityIataCode)

                const arrivalCity =  $('#destinationCity').val();
                const arrivalCityIataCode = $('#destinationCity option:selected').attr('data-attr-iataCode');
                const arrivalCountry = $('#destinationCountry').val();
                const arrivalAirport = $('#destinationAirport').val();
                const arrivalAirportCountry = $('#destinationAirport option:selected').attr('data-attr-countryId');
                const returnDate = moment($('#returnDate').val()).format('YYYY-MM-DD');

                const numAdultTickets = $('#numAdultTickets').val();
                const numChildTickets = $('#numChildTickets').val();
                const numInfantTickets = $('#numInfantTickets').val();

                const prefferedCabinClass = $('prefferedCabinClass').val();

                const sendData ={
                        dates:{
                            departure:departureDate,
                            arrival:returnDate
                        },
                        origin:{
                            iataCode:departureCityIataCode,
                            airportCountryId:departureAirportCountry,
                            name:departureCity
                        },
                        destination:{
                            iataCode:arrivalCityIataCode,
                            name:arrivalCity
                        },
                        currencyCodePreference:$('#seatfilla_currencies option:selected').val(),
                        prefferedCabinClass:prefferedCabinClass || 'Economy',
                        ticketInfo:{
                            numAdultTickets:numAdultTickets||1,
                            numChildTickets:numChildTickets||0,
                            numInfantTickets:numInfantTickets||0
                        },
                        groupPricing:true

                    }

                console.log('Sending:')
                console.log(sendData);
            
                $.ajax({
                    url:'/maps/retrieveFlightInfo',
                    method:'POST',
                    data:sendData,
                    success:renderView.bind(sendData),
                    error:function(){
                        console.log('error')
                    }
                })
            })
        }
        if(document.readyState != 'loading'){
            attach();
        }else{
            $(document).ready(attach);
        }

    })();
    $('#flight-search-details').load('/ajax/flight-search-nav.ejs', function finished() {});
})();
</script>
<div class="container-fluid">
         
    <div class="well row" style="background-color:transparent;background-image:none;">
        <div class="button-group pull-right">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="products" class="row list-group">
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail switch">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Product title</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-info" href="">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail switch">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Product title</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-info" href="">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail switch">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Product title</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-info" href="">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail switch">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Product title</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-info" href="">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
