<style>
.item .glyphicon { margin-right:5px; }
.item .thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.caption h4{
    font-size:16px;
}
.caption .btn{
    float:right;
}


.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}


.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
label{
    font-weight:normal;
}

</style>
<!--
}    /*setInterval(function(){
        const $itemDiv = $('<div></div>',{class:'item col-xs-4 col-lg-4'});
        const $thumbNail = $('<div></div>',{class:'thumbnail'});
        const $itemImage = $('<img/>',{src:'http://placehold.it/400x250/000/fff'});
        const $caption = $('<div></div>',{class:'caption'});

        const $h4 = $('<h4></h4>',{'class':'group inner list-group-item-heading'}).text('Product title');
        const $p = $('<p></p>',{class:'group inner list-group-item-text'}).text('Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat');
        const $row =    $('<div></div>',{class:'row'});

        const $div_12_1 = $('<div></div>',{class:'col-xs-12 col-md-6'});
        const $div_12_2 =  $('<div></div>',{class:'col-xs-12 col-md-6'});
        const $p_1 = $('<p></p>',{class:'lead'}).text('$1.00');
        const $viewDets =  $('<a></a>',{class:'btn btn-info',href:''}).text('View details');
        $itemDiv.append(
            $thumbNail.append($itemImage)
            .append(
                $caption.append($h4)
                .append($p)
                .append($row
                    .append($div_12_1.append($p_1))
                    .append($div_12_2.append($viewDets) )
                )
            )
        );
        $itemDiv.fadeOut(0);
        $('#products').append($itemDiv.fadeIn(1000));
    },3000);*/
-->
<script>
(function(){

    const mapItin = function(result,itin, directionality, legId) {
                    if (!itin.PricingOptionsMapped) {
                        itin.PricingOptions = itin.PricingOptions.map((pricingOption) => {
                            return {
                                pricingOption,
                                agents: pricingOption.Agents.map((agentId) => {
                                    return {
                                        agentId,
                                        agent: result.Agents.filter((agent) => {
                                            return agent.Id == agentId
                                        }).pop()
                                    }
                                })
                            }
                        })
                        itin.PricingOptionsMapped = true
                    }

                    itin[directionality + 'Legs'] = result.Legs.filter(function(leg) {
                        return leg.Id == legId;
                    }).map(function(leg) {
                        const _output = Object.assign({}, leg)

                        _output.FlightNumbers = leg.FlightNumbers.map(function(flightNumberObj) {
                            const carrierId = flightNumberObj.CarrierId
                            return {
                                flightNumber: flightNumberObj.FlightNumber,
                                carrierId,
                                carrierInfo: result.Carriers.filter((carrier) => {
                                    return carrier.Id == carrierId
                                }).pop()
                            }
                        })

                        _output.SegmentIds = leg.SegmentIds.map(function(segmentId) {
                            return {
                                segmentId,
                                segmentInfo: result.Segments.filter(function(segment) {
                                    return segment.Id == segmentId
                                })
                            }
                        })

                        const destinationStationId = leg.DestinationStation
                        _output.DestinationStation = result.Places.filter(function(place) {
                            return place.Id == destinationStationId
                        }).pop()

                        const originStation = leg.OriginStation
                        _output.OriginStation = result.Places.filter(function(place) {
                            return place.Id == originStation
                        }).pop()

                        return _output
                    })

                    return itin
                }


    function renderView(response,r,xhr){

    const _this = this;


    function pollSession(pageIndex,nextPollUrl){
        console.log(pageIndex)
                $.ajax({
                    type: window.seatfilla.globals.site.endpoints.maps.retrieveFlightInfo.method,
                    url: '/maps/pollSkyScannerFlightLivePricingApi',
                    data: {
                    urlEndPoint: nextPollUrl,
                    destinationName: _this.destination.name,
                    newskyscannerpageindex: pageIndex,
                    newgettyimagespageindex: pageIndex,
                    gettyimagespagesize: 10,
                    skyscannerpagesize: 10
                    },
                    success: function(response,r,xhr){
                        if(response.result.Status != 'UpdatesComplete'){
                            console.log(response)
                            return pollSession(pageIndex,response.result.urlEndPoint.url);
                        }

                        console.log('final response:')
                        console.log(response);

                        response.result.Itineraries.map(function(itin) {
                            const outboundLegId = itin.OutboundLegId
                            const inboundLegId = itin.InboundLegId

                            mapItin(response.result,itin, 'Outbound', outboundLegId)

                            if (inboundLegId) {
                                mapItin(response.result,itin, 'Inbound', inboundLegId)
                            }
                            return itin
                        }).forEach(function(itin, index) {
                            console.log(_this);
                            $('#flights').append($.templates('#flightTemplate').render(
                            {itin:itin,cityImages:response.cityImages, index,
                            sendData:_this}) )
                            console.log(itin);
                    });

                }
                })
           }

        if ((response.errors || response.error) && response.errorType != 'gettyImageServiceRequest') {
                console.log(response)
                window.alert(JSON.stringify(response.errors))
        } else {
            //Map and render
            var pageIndex = 1;
            $('#nextPage').on('click',function(){
                $(this).addClass('m-progress')
                pollSession(pageIndex++,response.result.urlEndPoint.url)
                $(this).removeClass('m-progress')
            });

            $('#nextPage').trigger('click');
        }
    }

    function handleAjaxError(err){
        console.log(err);
        $.toaster({priority:'error', message:'Error with request to server'});
    }

    (function(){
        function attach(){

            $('#list').click(function(event){
                event.preventDefault();
                $('#products .item').addClass('list-group-item');
                $('#flights .item .switch').removeClass('thumbnail')
            });

            $('#grid').click(function(event){
                event.preventDefault();
                $('#flights .item').removeClass('list-group-item');
                $('#flights .item').addClass('grid-group-item');
                $('#flights .item .switch').addClass('thumbnail')
            });

            $('#flightForm').submit(function(e){
                e.preventDefault();
                e.stopImmediatePropagation();

                const departureCity =  $('#departureCity').val();
                const departureCityIataCode = $('#departureCity option:selected').attr('data-attr-iataCode');
                const departureCountry = $('#departureCountry').val();
                const departureAirport = $('#departureAirport').val();
                const departureAirportCountry = $('#departureAirport option:selected').attr('data-attr-countryId');
                console.log('departureDate:')
                console.log($('#departureDate').val())
                const departureDate = moment($('#departureDate').val()).format('YYYY-MM-DD');

                console.log(departureCityIataCode)

                const arrivalCity =  $('#destinationCity').val();
                const arrivalCityIataCode = $('#destinationCity option:selected').attr('data-attr-iataCode');
                const arrivalCountry = $('#destinationCountry').val();
                const arrivalAirport = $('#destinationAirport').val();
                const arrivalAirportCountry = $('#destinationAirport option:selected').attr('data-attr-countryId');
                const returnDate = moment($('#returnDate').val()).format('YYYY-MM-DD');

                const numAdultTickets = $('#numAdultTickets').val();
                const numChildTickets = $('#numChildTickets').val();
                const numInfantTickets = $('#numInfantTickets').val();

                const prefferedCabinClass = $('prefferedCabinClass').val();

                const sendData = {
                        dates:{
                            departure:departureDate,
                            arrival:returnDate
                        },
                        origin:{
                            iataCode:departureCityIataCode,
                            airportCountryId:departureAirportCountry,
                            name:departureCity
                        },
                        destination:{
                            iataCode:arrivalCityIataCode,
                            name:arrivalCity
                        },
                        currencyCodePreference:$('#seatfilla_currencies option:selected').val(),
                        prefferedCabinClass:prefferedCabinClass || 'Economy',
                        ticketInfo:{
                            numAdultTickets:numAdultTickets||1,
                            numChildTickets:numChildTickets||0,
                            numInfantTickets:numInfantTickets||0
                        },
                        groupPricing:true

                    }

                console.log('Sending:')
                console.log(sendData);

                $.ajax({
                    url:'/maps/retrieveFlightInfo',
                    method:'POST',
                    data:sendData,
                    success:renderView.bind(sendData),
                    error:function(){
                        console.log('error')
                    }
                })
            })
        }
        if(document.readyState != 'loading'){
            attach();
        }else{
            $(document).ready(attach);
        }

    })();
    $('#filter-side-menu').load('/ajax/flight-filter-nav.ejs', function finished() {
        $('#sort').on('click',function(){

        })
    });
    $('#flight-search-details').load('/ajax/flight-search-nav.ejs', function finished() {});
})();
</script>

<script id="flightTemplate" type="text/html">
 <div class="item col-xs-6 col-lg-6">
            <div class="thumbnail switch">
               <div class="container-fluid">
                    <div class="row">
                    <br/>
                        <div class="col-xs-12">
                            <img  class="img img-responsive group list-group-image" style="width:100%;min-height:200px;max-height:200px;" src="{{:cityImages[~root.index].image}}" alt="" />
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-xs-6">
                            <small>Inbound via</small>
                            <img class="group list-group-image" src="{{:itin.InboundLegs[0].FlightNumbers[0].carrierInfo.ImageUrl}}" alt="" />
                            </div>
                            <div class="col-xs-6">
                            <small>Outbound via</small>
                                <img class="group list-group-image" src="{{:itin.OutboundLegs[0].FlightNumbers[0].carrierInfo.ImageUrl}}" alt="" />
                            </div>

                        <p>A flight from  {{:itin.OutboundLegs[0].OriginStation.Code}} to {{:itin.InboundLegs[0].OriginStation.Code}}</p>
                        <p>
                        <strong>Inbound departure/arrival:</strong> <br/> {{:~dateFormat(itin.InboundLegs[0].Departure,'YYYY-MM-DD HH:MM')}} - {{:~dateFormat(itin.InboundLegs[0].Departure,'YYYY-MM-DD HH:MM')}} <br/><br/>
                        <strong>Outbound departure/arrival:</strong> <br/> {{:~dateFormat(itin.InboundLegs[0].Departure,'YYYY-MM-DD HH:MM')}} - {{:~dateFormat(itin.InboundLegs[0].Arrival,'YYYY-MM-DD HH:MM')}}
                          </p>
                        <br/>
                        <div style="height:200px;max-height:200px;min-height:200px;overflow-y:scroll;">
                        <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Agent</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody style="font-size:10px;">
                            {{for itin.PricingOptions}}
                                <tr>
                                <td><img class="img img-responsive" src="{{:agents[0].agent.ImageUrl}}"/></td>
                                <td>{{:agents[0].agent.Name}}</td>
                                <td>
                                      <span data-attr-price>
                                        <span data-attr-currency-symbol="{{:~currentCurrencySymbol()}}">{{:~currentCurrencySymbol()}}</span>
                                        <span data-attr-amount="{{:pricingOption.Price}}">{{:pricingOption.Price}}</span>
                                        <span data-attr-currency-code="{{:~currentCurrencyCode()}}">{{:~currentCurrencyCode()}}</span>
                                      </span>
                                </td>
                                <td>{{:agents[0].agent.Type}}</td>
                                </tr>
                            {{/for}}
                        </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <br/>
                        <div class="col-xs-12">
                            <form action="/flightoffer/findOne" method="POST">
                              <input type="hidden" name="flightData" value="{{:~escapeHtml(~stringify(itin))}}"/>
                              <input type="hidden" name="flightOffer" value="{{:~escapeHtml(~stringify(sendData))}}"/>
                              <input type="hidden" name="provider" value="Skyscanner"/>
                              <button type="submit" class="btn btn-info btn-block" href="">View details</button>
                            </form>
                        </div>
                         </div>
                        </div>
                    </div>
                </div>
                </div>

            </div>
        </div>
</script>
<div class="container-fluid">
    <div class="well row" style="background-color:transparent;background-image:none;">
        <div class="button-group pull-right">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="flights" class="row list-group">
    </div>
    <button id="nextPage" class="btn btn-lg btn-info btn-block">Search</button>
</div>
