

        <h2 class="">Flight details</h2>
        <hr/><br/>
    <form name="form-test" action="" method="get" >
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-6 form-group">
                <label for="departure_cities">
                    Departure City
                </label>
                <select id="departure_cities" name="name" class="form-control cities"></select>
            </div>
            <div class="col-xs-6 form-group">
                <label for="arrival_cities" >
                    Arrival City
                </label>
                <select id="arrival_cities" name="surname" class="form-control cities"></select>
            </div>
        </div>
         <div class="row">
           <div class="col-xs-2 form-group has-warning">
                <label for="street">
                    Adults
                </label>
                <input type="text" id="street" name="street" class="form-control" value="1" required/>
            </div>
            <div class="col-xs-2 form-group">
                <label for="number" >
                    Children
                </label>
                <input type="number" id="number" name="number" class="form-control" value="0" required/>
            </div>
             <div class="col-xs-2 form-group">
                <label for="number" >
                    Infants
                </label>
                <input type="number" id="number" name="number" class="form-control" value="0" required/>
            </div>
            <div class="col-xs-3 form-group">
                <label for="name" >
                    Departure Date
                </label>
                <input id="name" type="date" name="name" class="form-control input"/>
            </div>
            <div class="col-xs-3 form-group">
                <label for="surname">
                    Return Date
                </label>
                <input id="surname" type="date" name="surname" class="form-control"/>
            </div>
       
        </div>

        </div>

        <div class="col-xs-4">
    <button class="btn btn-lg btn-info btn-block pull-right"><i class="fa fa-search" style="font-size:105px"></i></button>

        </div>
      	
  
    </form>
