

   
<form name="form-test" action="" method="get" >
    <div class="col-xs-8">
        <div class="row">
            <h4 style="font-size:20px;padding:10px;"> Departure Information </h4>

            <div class="form-group">
            <label class="col-md-1 control-label" for="departureCountry">Country</label>  
            <div class="col-md-3">
                    <select id="departureCountry" class="country form-control" data-attr-cityLink="#departureCity" data-attr-airportLink="#departureAirport"></select>
            </div>
            <label class="col-md-1 control-label" for="departureCity">City</label>  
            <div class="col-md-3">
                    <select class="city form-control" id="departureCity"></select>
            </div>
            <label class="col-md-1 control-label" for="departureAirport">Airport</label>  
            <div class="col-md-3">
                    <select class="airport form-control" id="departureAirport"/></select>
            </div>
            </div>
        </div>
         <div class="row">
            <h4 style="font-size:20px;padding:10px;"> Destination Information </h4>
            <div class="form-group">
            <label class="col-md-1 control-label" for="departureCountry">Country</label>  
            <div class="col-md-3">
                    <select id="departureCountry" class="country form-control" data-attr-cityLink="#destinationCity" data-attr-airportLink="#destinationAirport"></select>
            </div>
            <label class="col-md-1 control-label" for="destinationCity">City</label>  
            <div class="col-md-3">
                    <select class="city form-control" id="destinationCity"></select>
            </div>
            <label class="col-md-1 control-label" for="destinationAirport">Airport</label>  
            <div class="col-md-3">
                    <select class="airport form-control" id="destinationAirport"/></select>
            </div>
            </div>
        </div>
        <br/></hr>
         <div class="row panel panel-body" style="background-color:#42a5f5 ;">
           <div class="col-xs-2 form-group has-warning">
                <label for="street">
                    Adults
                </label>
                <input type="text" id="street" name="street" class="form-control" value="1" required/>
            </div>
            <div class="col-xs-2 form-group">
                <label for="number" >
                    Children
                </label>
                <input type="number" id="number" name="number" class="form-control" value="0" required/>
            </div>
             <div class="col-xs-2 form-group">
                <label for="number" >
                    Infants
                </label>
                <input type="number" id="number" name="number" class="form-control" value="0" required/>
            </div>
            <div class="col-xs-3 form-group">
                <label for="name" >
                    Departure Date
                </label>
                <input id="name" type="date" name="name" class="form-control input"/>
            </div>
            <div class="col-xs-3 form-group">
                <label for="surname">
                    Return Date
                </label>
                <input id="surname" type="date" name="surname" class="form-control"/>
            </div>
       
        </div>

        </div>

        <div class="col-xs-4">
             <button class="btn btn-lg " style="position:absolute;right:-15px;background-color:#42a5f5;">
             <i class="fa fa-search" style="font-size:275px"></i></button>
        </div>
    </form>
