
<h2 class="">Hotel details</h2>
<hr/><br/>
  
        
        <select id="country">
             <option value="New Zealand">New Zealand</option>
            <option value="France">France</option>
                 <option value="United kingdom">UK</option>
        </select>
        <button id="searchHotels">Search hotels</button>
        <select id="hotelPlaceSuggestions">
        </select>
    