<style>
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900|Open+Sans:400,300);

footer {
	background-repeat: repeat;
  margin-top:100px;
}

.bagcgrey {
  border-color:lightgrey;
  border-style:solid;
  border-width:1px;
	background-color: white;
	background-repeat: repeat;
	min-height:131px;
  left:50px;
}

.methodh4 {
	float:left;
	width:103px;
	margin-top:50px;
    left:50px;
}
.bagcgrey h4 {
	font-family: 'Lato', sans-serif;
	font-size:20px;
	font-weight:700;
  color:black;
  
}
.img-responsive2 {
	width:350px;
	margin-top:68px;
	float:left;
    left:50px;
}
.heading6 {
  color:black;
	font-size:18px;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
}
.footer_bottom_col {
	background-color:white;
	min-height:388px;
	padding-top:30px;
    border-style:solid;
  border-color:lightgrey;
  border-width:1px;
  
}
.heading_footer {
  	margin-left:50px;
	padding-left:50px;
  color:#2196F3;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	text-transform:uppercase;
	font-size:16px;
}
.heading_footer span {
	display:block;
	background-image: url(http://webenlance.in/bootsnipp/images/display.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-bottom: 8px;
	line-height: 22px;
}
.footerul {
	list-style-type:none;
	float:left;
	margin-left:50px;
	padding-left:50px;
	margin-top:15px;
	font-family: 'Lato', sans-serif;
}
.footerul li a {
	color:#c9c9c9;
	font-size:13px;
	line-height:20px;
  
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.footerul p {
  
	color:#c9c9c9;
	font-size:13px;
}
.footerul p a {
	color:#fff !important;
	font-weight:700 !important;
}
.copyright {
	width:100%;
	float:left;
	min-height:40px;
	background-color:#FAFAFA;
	padding-top:12px;
	text-align:center;
}
 @media (max-width:768px) {
	
/*footer*/
.footer_top {
background-color:#FFF !important;
background-image:none;
}
.tabmob {
background-image:none;
}
.bagcgrey {
background-image:none;
background-color:#f7f7f7;
padding:25px 15px 15px 15px;
}
.methodh4 {
width:100%;
text-align:center;
margin-top:0px;
}
.img-responsive2 {
 margin-top: 5px;
 margin-bottom:10px;
width:90%;
display:table;
margin-left:5%;
margin-right:5%;
}
.bagcblue {
background-image:none;
padding:10px !important;
}
 .footerul {
   
 float:none;
width:100%;
}
}
.socmatpbo { margin-top:25px; float:left !important; font-size:20px; margin-top:60px; }


.socmatpbo {
  margin-left:10px;
    float: left !important;
    font-size: 20px;
    margin-top: 40px;
}

</style>

<!--footer-->
<footer>
  <div class="footer_top">
    <div class="doct"></div>
    <div class="container">
      <div class="col-md-5 bagcgrey">
        <div class="row">
          <div class="methodh4">
           
          </div>
         <ul class="social socmatpbo">
          <p></p>
          <li><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
          <li><a target="_blank" href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/company/"><i class="fa fa-linkedin"></i></a></li>
          <li><a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
          <li><a target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
        </ul>
         </div>
      </div>
   
    </div>
  </div>
  <div class="footer_bottom_col">
    <div class="container">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4">
            <div class="heading_footer">Seat <span>Filla</span> </div>
            <ul class="footerul">
            <li><a title="" href="">Our Services</a></li>
             <li><a title="" href="">About us </a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="heading_footer">Services like <span>ours</span> </div>
            <ul class="footerul">
      <li><a href="">Well isn't that great</a></li>
      <li><a href="">Nice!</a></li>
      
            </ul>
          </div>
          <div class="col-md-4">
            <div class="heading_footer">Useful <span>links</span> </div>
            <ul class="footerul">
              <li><a href="" >Something sick</a></li>
              <li><a href="">Awesome!</a></li>
             
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="">
          <div class="col-md-6">
            <div class="row">
              <div class="heading_footer">Get what you need<span>now</span> </div>
              <ul class="footerul">
                <li><a href="" >Somethings go here</a></li>
                <li><a href="">Some other things go herel</a></li>
          
              </ul>
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="heading_footer">Contact <span>us</span> </div>
              <ul class="footerul" style="color:black;">
                <p>To contact us send an email directly to <a style="color:black;" href="">webenlance@gmail.com</a> use this</p>
                <p> Call us at<b>+91 9999878398</b></p>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <p>Copyright © 2016 Seatfilla</p>
</div>