<div class="carousel slide" id="poweredBy">
        <div class="carousel-inner">
            <div class="item active">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
    						<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="/images/nodejs_logo_green.jpg" alt=""></a>
								</div>
                            </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="/images/skyscanner.jpg" alt=""></a>
								</div>
                            </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="/images/gettylogo.png" alt=""></a>
								</div>
                            </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="/images/sails.png" alt=""></a>
								</div>
								
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide1 --> 
    </div>
<footer>
  <div class="footer_top">
    <div class="doct"></div>
  <div class="footer_bottom_col">
    <div class="container">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4">
            <div class="heading_footer">Seat <span>Filla</span> </div>
            <ul class="footerul">
            <li><a  href="#">About us</a></li>
             <li><a  href="#">Terms and conditions</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="heading_footer">Like <span>us</span> </div>
            <ul class="footerul">
            <li class="home"></li>
   
            </ul>
          </div>
          <div class="col-md-4">
            <div class="heading_footer">Company <span>policies</span> </div>
            <ul class="footerul">
            </ul>
          </div>
        </div>
      </div>
        
      <div class="col-lg-5">
        <div class="">
          <div class="col-md-6">
            <div class="row">
              <div class="heading_footer">Flight <span>Info</span> </div>
              <ul class="footerul">
                <li><a href="#" >View all your flight requests</a></li>
            
     
              </ul>
              <div class="heading_footer">Subscribe to <span>us</span> </div>
              <ul class="footerul">
                    <li><a href="#">Subscribe to our news letter</a></li>
                          <ul class="social socmatpbo">
          <p></p>
          <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="heading_footer">Contact <span>us</span> </div>
              <ul class="footerul">
                <p>To contact us send an email directly to <a href="#">xx@seatfilla.com </a> use this</p>
                <p> Call us at:  <b> +64 213993003</b></p>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <p>Copyright SeatFilla © 2016 .
</div>