<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<style>
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900|Open+Sans:400,300);

footer {
	background-repeat: repeat;
}

.bagcgrey {
  border-color:lightblue;
  border-style:solid;
  border-width:1px;
	background-color: white;
	background-repeat: repeat;
	min-height:131px;
}

.methodh4 {
	float:left;
	width:103px;
	margin-top:50px;
}
.bagcgrey h4 {
	font-family: 'Lato', sans-serif;
	font-size:20px;
	font-weight:700;
  color:black;
}
.img-responsive2 {
	width:350px;
	margin-top:68px;
	float:left;
}
.heading6 {
  color:black;
	font-size:18px;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
}
.footer_bottom_col {
	background-color:white;
	min-height:388px;
	padding-top:30px;
}
.heading_footer {
  color:#2196F3;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	text-transform:uppercase;
	font-size:16px;
}
.heading_footer span {
	display:block;
	background-image: url(http://webenlance.in/bootsnipp/images/display.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-bottom: 8px;
	line-height: 22px;
}
.footerul {
	list-style-type:none;
	float:left;
	margin-left:0px;
	padding-left:0px;
	margin-top:15px;
	font-family: 'Lato', sans-serif;
}
.footerul li a {
	color:#c9c9c9;
	font-size:13px;
	line-height:20px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.footerul p {
	color:#c9c9c9;
	font-size:13px;
}
.footerul p a {
	color:#fff !important;
	font-weight:700 !important;
}
.copyright {
	width:100%;
	float:left;
	min-height:40px;
	background-color:#FAFAFA;
	padding-top:12px;
	text-align:center;
}
 @media (max-width:768px) {
	
/*footer*/
.footer_top {
background-color:#FFF !important;
background-image:none;
}
.tabmob {
background-image:none;
}
.bagcgrey {
background-image:none;
background-color:#f7f7f7;
padding:25px 15px 15px 15px;
}
.methodh4 {
width:100%;
text-align:center;
margin-top:0px;
}
.img-responsive2 {
 margin-top: 5px;
 margin-bottom:10px;
width:90%;
display:table;
margin-left:5%;
margin-right:5%;
}
.bagcblue {
background-image:none;
padding:10px !important;
}
 .footerul {
 float:none;
width:100%;
}
}
.socmatpbo { margin-top:25px; float:left !important; font-size:20px; margin-top:60px; }


.socmatpbo {
    float: left !important;
    font-size: 20px;
    margin-top: 60px;
}

</style>



<!--footer-->
<footer>
  <div class="footer_top">
    <div class="doct"></div>
    <div class="container">
      <div class="col-md-5 bagcgrey">
        <div class="row">
          <div class="methodh4">
            <h4>FOLLOW US</h4>
          </div>
         <ul class="social socmatpbo">
          <p></p>
          <li><a target="_blank" href="https://www.facebook.com/imageeditingservice"><i class="fa fa-facebook"></i></a></li>
          <li><a target="_blank" href="https://twitter.com/imageeditingi2v"><i class="fa fa-twitter"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/company/image2vectorgraphicsindia"><i class="fa fa-linkedin"></i></a></li>
          <li><a target="_blank" href="https://plus.google.com/+Image2vectorgraphicsIndia9"><i class="fa fa-google-plus"></i></a></li>
          <li><a target="_blank" href="https://www.pinterest.com/imageediting/"><i class="fa fa-pinterest"></i></a></li>
        </ul>
         </div>
      </div>
   
    </div>
  </div>
  <div class="footer_bottom_col">
    <div class="container">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4">
            <div class="heading_footer">Image <span>Processing</span> </div>
            <ul class="footerul">
            <li><a title="" href="image_processing_india.html">Image Processing Services</a></li>
             <li><a title="" href="image_background_cleaning_india.html">Image Background Cleaning </a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="heading_footer">Graphic <span>Design</span> </div>
            <ul class="footerul">
      <li><a title="Graphic Designing" href="graphic_designing_services.html">Graphic Designing</a></li>
      <li><a title="Website Designing" href="website_designing_india.html">Website Designing</a></li>
      
            </ul>
          </div>
          <div class="col-md-4">
            <div class="heading_footer">Photo <span>Editing</span> </div>
            <ul class="footerul">
              <li><a href="" title="Photo Restoration">Photo Restoration</a></li>
              <li><a href="" title="Photo Enhancement">Photo Enhancement</a></li>
             
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="">
          <div class="col-md-6">
            <div class="row">
              <div class="heading_footer">Online Store <span>Product Editing</span> </div>
              <ul class="footerul">
                <li><a href="" title="Prodcut Image Editing">Product Image Editing</a></li>
                <li><a href="" title="Image Watermark Removal">Watermark Removal</a></li>
          
              </ul>
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="heading_footer">Contact <span>us</span> </div>
              <ul class="footerul">
                <p>To contact us send an email directly to <a href="mailto:webenlance@gmail.com">webenlance@gmail.com</a> use this</p>
                <p> Call us at<b>+91 9999878398</b></p>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <p>Copyright © 2016 Seatfilla</p>
</div>