
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<style>
 @media (max-width: 990px) {
   .nav-search-form{
     display:none;
   }
 }
</style>
<!--top_bar-->
         <div class="top_bar">
            <div class="" style="padding:5px;padding-left:50px;padding-right:45px;">
            <div class="col-xs-5 col-md-6">
            <ul class="social" style="position:absolute;left:0px;">
            <li><a target="_blank" href=""><i class="fa fa-facebook text-white"></i></a></li>
            <li><a target="_blank" href=""><i class="fa fa-twitter text-white"></i></a></li>
            <li><a target="_blank" href=""><i class="fa fa-instagram text-white"></i></a></li>
            </ul></div>
            <div class="col-xs-7 col-md-6">
            <ul class="rightc">
            <li><i class="fa fa-envelope-o"></i> customer@seatfilla.com </li>
            <%if(!req.user){%>
            <li><i class="fa fa-user"></i> <a href="/user/register" style="color:white;" >Register</a></li> 
            <%}%>
            <li>
            <div class="styled-select white semi-square" id="currency_select_s" style="margin-top:5px;max-width:120px;">
            <select class= "form-control centertext" id="seatfilla_currencies"></select>
            </div>
            </li>     
            </ul>
            </div>
            </div>
            <br/>
        </div>

<nav class="navbar navbar-default navbar-fixed-top site-nav" role="navigation">
    	<div class="" style="padding-left:20px;padding-right:100px;">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
      
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
        <br>
     

			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <div class="openNav">
  <div class="icon"></div>
</div>
  
				<ul class="nav navbar-nav navbar-right">
             <li><div class="">
       
    </div></li>
          <li><a href="#section1bg">Home</a></li>
					<li class="dropdown">
          <a href="/search/" class="dropdown-toggle" data-toggle="dropdown">Find flights</a>
	
						<ul class="dropdown-menu">
							<li><a href="/search/flights/all">Search for cheap flights</a></li>
							<li class="divider"></li>
							<li><a href="/search/flights/seatfilla">Purchase Seatfilla flights</a></li>
              <li><a href="/search/flights/all">Bid on Seatfilla flights</a></li>
						</ul>
					</li>
          <li><a href="#">Make a flight request</a></li>
          <li><a href="#section2bg">About Us</a></li>
          <li><a href="#">Contact us</a></li>

          <li>
	    <ul class="nav navbar-nav navbar-right">
          
				<li class="dropdown" style="position:relative;bottom:6px;right:10px;">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Notifications <span class="badge">2</span></a>
					<ul class="dropdown-menu" role="menu">
            <li> Notifications</li>
						<li><a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Notification</span> Welcome to Seatfilla</a></li>
						<li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Congratulations</span> You just visited SeatFilla</a></li>
		
                        <li>
                        <div class="well well-sm">
                            View all
                         </div>
                        </li>
                    </ul>
                    
				</li>

        <li>  <form class="navbar-form nav-search-form" role="search">
        <div class="input-group" style="">
           <select class="js-data-example-ajax form-control" style="min-width:150px;">
           <option>Search users</option>
        </select>
        </div>
        </form>
        </li>

        <%if(!req.user){%>
          <li class="active"><a href="#" class="btn btn-primary btn-lg" id="login-modal-trigger" role="button" data-toggle="modal" data-target="#login-modal">Login</a></li>
          <%}else{%>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-user pull-right"></span> <%= req.user.email %> </a>
            <ul class="dropdown-menu">
              <li><a href="/user/myaccount">My Account <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
              <li class="divider"></li>
              <li><a href="/user/changedetails">Change Account Info <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
              <li class="divider"></li>
              <li><a href="#">My Active Requests <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
              <li class="divider"></li>
              <li><a href="#">Notifications class="badge pull-right"> 42 </span></a></li>
              <li class="divider"></li>
              <li><a href="#">Accepted Flight Requests <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
              <li class="divider"></li>
              <li><a href="#">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
            </ul>
          </li>
        <%}%>

        <%if(req.user && req.user.roles.filter(function(role){
            return role == 'admin';
        }).length > 0){ %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Geri bildirim</a></li>
						<li><a href="#">Yardım</a></li>
						<li class="divider"></li>
						<li><a href="#">Ayarlar</a></li>
						<li><a href="#exit">Çıkış yap</a></li>
					</ul>
				</li>
        <%}%>
        </ul>
   
        </li>
			</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</header>

