<style>

#settings{
    position:relative;
    right:100px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}
</style>
 <app-drawer-layout force-narrow fullbleed>
    <app-drawer id="drawer" opened>
      <app-toolbar>
      
      <small>Menu</small>

      </app-toolbar>
      <paper-menu selected="0" attr-for-selected="name">
  <paper-item>Item 1</paper-item>
  <paper-item>Item 2</paper-item>
   <paper-item>Item 2</paper-item>
    <paper-item>Item 2</paper-item>
     <paper-item>Item 2</paper-item>
</paper-menu>
      </paper-menu>
    </app-drawer>
       <app-header-layout fullbleed>
      <app-header class="main-header" fixed>

        <app-toolbar>
          <nav>
          <paper-icon-button style="position:absolute;top:30px;" icon="menu" drawer-toggle></paper-icon-button>
          <h1 class="sf-logo" ><img src="images/Logo.png" width="50" height="50"/> SeatFilla</h1>
          <paper-tabs>
            selected="{{selected}}">
            <paper-tab link>
              <a href="#section1bg" class="link" tabindex="-1">SIGN UP </a>
            </paper-tab>
            <paper-tab link>
              <a href="#link2" class="link" tabindex="-1">ABOUT</a>
            </paper-tab>
            <paper-tab link>
              <a href="#link3" class="link" tabindex="-1">APP</a>
            </paper-tab>
            <paper-tab link>
              <a href="#link3" class="link" tabindex="-1">TAB FOUR</a>
            </paper-tab>
            <paper-tab link>
              <a href="#link3" class="link" tabindex="-1">TAB FIVE</a>
            </paper-tab>
          </paper-tabs>
     
           <paper-icon style="right:10px;top:15px;" class="menu-icon" icon="user" drawer-toggle>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu-link" data-toggle="dropdown" role="button" aria-expanded="false"><iron-icon icon="settings"> </iron-icon><span class="caret"></span></a>
                                        <ul class="dropdown-menu" id="settings">
                                            <li>
                                                <div class="navbar-content">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <img src="http://placehold.it/120x120"
                                                                alt="Alternate Text" class="img-responsive" />
                                                            <p class="text-center small">
                                                                <a href="#">Change Photo</a></p>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <span>Username</span>
                                                            <p class="text-muted small">
                                                                email@email.com</p>
                                                            <div class="divider">
                                                            </div>
                                                            <a href="#" class="btn btn-primary btn-sm active">View Profile</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="navbar-footer">
                                                    <div class="navbar-footer-content">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <a href="#" class="btn btn-default btn-sm">Change Passowrd</a>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <a href="http://www.jquery2dotnet.com" class="btn btn-default btn-sm pull-right">Sign Out</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
           </li>
           </paper-icon>
           <paper-icon-button style="right:50px;" class="menu-icon" icon="search" alt="Search"></paper-icon-button>
           <paper-badge for="notifications" label="4" class="paper-badge-red">
          </paper-badge>
           <paper-icon style="right:105px;top:16px;" class="menu-icon" id="notifications" icon="social:notifications" alt="inbox">
         
          <li class="dropdown">
          <a href="#" class="dropdown-toggle menu-link" data-toggle="dropdown" role="button" aria-expanded="false"><iron-icon icon="social:notifications"> </iron-icon><span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-s" id="notifications-menu" role="menu">
            <p class="">Notifications</span>
              <li>
                  <span class="item" style="background-color:lightblue;">
                        <span class="item-info">
                            <span class="lead">Message name</span>
                            <p>This is a message</p>
                        </span>
                    </span>
                </span>
              </li>
              <hr>
                    <li>
                  <span class="item">
                        <span class="item-info">
                            <span class="lead">Message name</span>
                            <p>This is a message</p>
                        </span>
                    </span>
                </span>
              </li>
       
              <li class="divider"></li>
              <li><a class="text-center" href="">View All notifications</a></li>
          </ul>
        </li>
        
          </nav>
    

    
        <div class="center pull-right" style="color:lightgrey;position:relative;left:300px;bottom:20px;">
        <p>Phone: 0800-334-343</p>
	    </div>

      </app-header>