 <style>
  paper-item {
    display:block;
    padding:20px;
    margin-top:10px;
  }
   .red {
    --paper-badge-background: var(--paper-red-300);
  }
  .blue {
    --paper-badge-background: var(--paper-light-blue-300);
  }
  paper-tabs{
    padding:10px;
  }
  #notifications:hover{
    display:hidden;
  }
 </style>
 
 <app-drawer-layout force-narrow fullbleed>
    <app-drawer id="drawer" opened>
      <app-toolbar>
      <paper-material elevation="1" style="width:100vw;">
      <small>Menu</small>
      </paper-material>
      </app-toolbar>
      <paper-menu selected="0" attr-for-selected="name">
  <paper-item>Item 1</paper-item>
  <paper-item>Item 2</paper-item>
   <paper-item>Item 2</paper-item>
    <paper-item>Item 2</paper-item>
     <paper-item>Item 2</paper-item>
</paper-menu>
      </paper-menu>
    </app-drawer>
       <app-header-layout fullbleed>
      <app-header class="main-header" fixed effects="waterfall">
      <paper-material elevation="1" style="background-color:white;">
        <app-toolbar>
          <nav>
          <paper-icon-button style="position:absolute;top:5px;" icon="menu" drawer-toggle></paper-icon-button>
          <h2 class="title" style="">SeatFilla</h2>
          <paper-tabs>
            selected="{{selected}}">
            <paper-tab link>
              <a href="#section1bg" class="link" tabindex="-1">SIGN UP </a>
            </paper-tab>
            <paper-tab link>
              <a href="#link2" class="link" tabindex="-1">ABOUT</a>
            </paper-tab>
            <paper-tab link>
              <a href="#link3" class="link" tabindex="-1">APP</a>
            </paper-tab>
            <paper-tab link>
              <a href="#link3" class="link" tabindex="-1">TAB FOUR</a>
            </paper-tab>
            <paper-tab link>
              <a href="#link3" class="link" tabindex="-1">TAB FIVE</a>
            </paper-tab>
          </paper-tabs>
           <paper-icon-button style="position:absolute;right:50px;top:12px;float:right;" icon="search" alt="Search"></paper-icon-button>
           <paper-icon-button style="position:absolute;right:5px;top:12px;" icon="settings" drawer-toggle></paper-icon-button>
           <paper-icon-button style="position:absolute;right:95px;top:12px;" id="notifications" icon="social:notifications" alt="inbox">
          </paper-icon-button>
          <paper-badge for="notifications" label="4">
          </paper-badge>
          </nav>
        </app-toolbar>
        </paper-material>
      </app-header>