<style>
    hide {
        display:none;
    }
.product-item {
    padding: 15px;
    background: #fff;
    margin-top: 20px;
    position: relative;
}
.product-item:hover {
    box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
}
.product-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height:0;
}
.sticker {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 63px;
}
.sticker-new {
    background: url() no-repeat;
    left: auto;
    right: 0;
}
.pi-img-wrapper {
    position: relative;
    max-width:350px;
    max-height:350px;
    width:350px;
    height:350px;
}
.pi-img-wrapper img{
    max-width:350px;
    max-height:350px;
    width:350px;
    height:350px;
}
.pi-img-wrapper div {
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
.product-item:hover>.pi-img-wrapper>div {
    display: block;
}
.pi-img-wrapper div .btn {
    padding: 3px 10px;
    color: #fff;
    border: 1px #fff solid;
    margin: -13px 5px 0;
    background: transparent;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    line-height: 1.4;
    font-size: 12px;
}
.product-item .btn:hover {
    background: #e84d1c;
    border-color: #c8c8c8;
}

.product-item h3 {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 4px;
    text-transform: uppercase;
}
.product-item h3 a {
    color: #3e4d5c;
}
.product-item h3 a:hover {
    color: #E02222;
}
.pi-price {
    color: #e84d1c;
    font-size: 18px;
    float: left;
    padding-top: 1px;
}
.product-item .add2cart {
    float: right;
    color: #a8aeb3;
    border: 1px #ededed solid;
    padding: 3px 6px;
    text-transform: uppercase;
}
        .product-item .add2cart:hover {
            color: #fff;
            background: #e84d1c;
            border-color: #e84d1c;
        }

.list-group {border-radius: 0;}
.list-group .list-group-item {background-color: transparent;overflow: hidden;border: 0;border-radius: 0;padding: 0 16px;}
.list-group .list-group-item .row-picture,
.list-group .list-group-item .row-action-primary {float: left;display: inline-block;padding-right: 16px;padding-top: 8px;}
.list-group .list-group-item .row-picture img,
.list-group .list-group-item .row-action-primary img,
.list-group .list-group-item .row-picture i,
.list-group .list-group-item .row-action-primary i,
.list-group .list-group-item .row-picture label,
.list-group .list-group-item .row-action-primary label {display: block;width: 56px;height: 56px;}
.list-group .list-group-item .row-picture img,
.list-group .list-group-item .row-action-primary img {background: rgba(0, 0, 0, 0.1);padding: 1px;}
.list-group .list-group-item .row-picture img.circle,
.list-group .list-group-item .row-action-primary img.circle {border-radius: 100%;}
.list-group .list-group-item .row-picture i,
.list-group .list-group-item .row-action-primary i {background: rgba(0, 0, 0, 0.25);border-radius: 100%;text-align: center;line-height: 56px;font-size: 20px;color: white;}
.list-group .list-group-item .row-picture label,
.list-group .list-group-item .row-action-primary label {margin-left: 7px;margin-right: -7px;margin-top: 5px;margin-bottom: -5px;}
.list-group .list-group-item .row-content {display: inline-block;width: calc(100% - 92px);min-height: 66px;}
.list-group .list-group-item .row-content .action-secondary {position: absolute;right: 16px;top: 16px;}
.list-group .list-group-item .row-content .action-secondary i {font-size: 20px;color: rgba(0, 0, 0, 0.25);cursor: pointer;}
.list-group .list-group-item .row-content .action-secondary ~ * {max-width: calc(100% - 30px);}
.list-group .list-group-item .row-content .least-content {position: absolute;right: 16px;top: 0px;color: rgba(0, 0, 0, 0.54);font-size: 14px;}
.list-group .list-group-item .list-group-item-heading {color: rgba(0, 0, 0, 0.77);font-size: 20px;line-height: 29px;}
.list-group .list-group-separator {clear: both;overflow: hidden;margin-top: 10px;margin-bottom: 10px;}
.list-group .list-group-separator:before {content: "";width: calc(100% - 90px);border-bottom: 1px solid rgba(0, 0, 0, 0.1);float: right;}

.bg-profile{background-color: #3498DB !important;height: 150px;z-index: 1;}
.bg-bottom{height: 100px;margin-left: 30px;}
.img-profile{display: inline-block !important;background-color: #fff;border-radius: 6px;margin-top: -50%;padding: 1px;vertical-align: bottom;border: 2px solid #fff;-moz-box-sizing: border-box;box-sizing: border-box;color: #fff;z-index: 2;}
.row-float{margin-top: -40px;}
.explore a {color: green; font-size: 13px;font-weight: 600}
.twitter a {color:#4099FF}
.img-box{box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);border-radius: 2px;border: 0;}

</style>
<!-- JSRender List item template for displaying hotel items -->
<script type="text/html" id="list-item-template">

{{for hotels ~len=hotels.length}}
    {{if #getIndex() == 0 }}
        <div class="row">  {{:~log('start row')}}
    {{/if}}
    {{if ~mulOf(#getIndex(),3) && #getIndex() != 0}}
         </div> <!-- end row-->{{:~log('end row')}}
         <br/>
        <div class="well" style="background-color:white;">
      <div class="media">
      	<a class="pull-left" href="#">
    		<img class="media-object" src="{{:image}}" width="150" height="150">
  		</a>
  		<div class="media-body">
    		<p class="media-heading">Hotel</p>
          <p class="text-right">By Francisco</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                Aliquam in felis sit amet augue.</p>
          <ul class="list-inline list-unstyled">
  			<li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
            <li>|</li>
            <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
            <li>|</li>
            <li>
               <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
            </li>
            <li>|</li>
            <li>
            <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
              <span><i class="fa fa-facebook-square"></i></span>
              <span><i class="fa fa-twitter-square"></i></span>
              <span><i class="fa fa-google-plus-square"></i></span>
            </li>
			</ul>
       </div>
    </div>
  </div>{{:~log('big')}}
                <div class="row"> {{:~log('start row')}}
            {{/if}} 
            {{if !(~mulOf(#getIndex(),3) && #getIndex() != 0) || (~len < 4 || ~len==1)}}
                 <div class="col-md-6">
                <div class="product-item">
                <div class="pi-img-wrapper">
                    <img src="{{:image}}" class="img-responsive">
                    <div>
                    <a href="#" class="btn">Zoom</a>
                    <a href="#" class="btn">View</a>
                    </div>
                </div>
                <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                <div class="pi-price">$29.00</div>
                   <form action="/hotel/findOne/{{:hotel_id}}" method ="POST">
                        <button class="btn btn-info pull-right"> View details </button>
                        <input type="hidden" name="hotelData" value="{{>~stringify(~root.hotels[#getIndex()])}}"/>
                  </form>
                <!--<div class="sticker sticker-new"></div>-->
                </div>
                </div> 
                {{:~log('col 4')}}
                {{if ~len==1 || #getIndex()==~sub(~len,1)}}
                    </div> {{:~log('end row')}}
                {{/if}}
            {{/if}}
{{/for}}
</script>


<script>
  function loadScript() {
      var pageIndex = 0;
      var nextUrlToPoll = null;
      var pageSize = 15;
      var imageLimit = 10;
      var availableResults = 0;


      function displayHotels(result){
          if(result.status != "COMPLETE") return;
                        
                          $('#loadMoreResults').removeClass('hide');

                          const hotelListings = window.seatfilla.globals.response
                              .skyscannerAPI.mapHotelAPIResponse(result, {
                                  smallestWidth: 600,
                                  smallestHeight: 600
                              });

                          //Log for debug
                          console.log(hotelListings);

                          if (hotelListings && hotelListings.hotels &&
                              hotelListings.hotels.length > 0 &&
                              hotelListings.urls &&
                              hotelListings.urls['hotel_details']
                          ) {
                              var tmpl = $.templates("#list-item-template");

                             const displayableHotels = hotelListings.hotels.filter(function(hotel) {

                                      //Only display if we definitely have an image
                                      if (!Array.isArray(hotel.images) || (hotel.images.length == 0)) {
                                          return false;
                                      }

                                      hotel.image = 'http://' + hotel.images[0].imagePath;
                                      hotel.detailsUrl = hotelListings.urls['hotel_details'];

                                      return true;
                             })

                             if(displayableHotels.length){
                                const html = tmpl.render({
                                    hotels: displayableHotels
                                }, {
                                    stringify(obj) {
                                        return JSON.stringify(obj);
                                    }
                                });
                                availableResults = result.total_hotels;
                                $('#hotelListings').append(html);   
                            
                             }else{
                                 console.log('Hiding load more results , !displayableHotels.length')
                                $('#loadMoreResults').addClass('hide')
                             }
             
                          } else if(availableResults <= 0){
                              console.log('no results;')
                              console.log(hotelListings)
                              $('#loadMoreResults').addClass('hide')
                              
                          }

                     $.waitingDialog.hide();
      }

      //Polls the sky scanner session
      function pollSession(nextPollUrl, pageIndex) {
          $('#loadMoreResults').removeClass('hide');
          
          console.log('Polling ' + nextPollUrl + ', page: ' + pageIndex);
          $.ajax({
              method: 'GET',
              url: '/hotel/pollSkyScannerSession',
              data: {
                  nextPollUrl,
                  pageIndex,
                  pageSize: pageSize,
                  imageLimit: imageLimit
              },
              success: function(result, s, xhr) {

            
                  if (xhr.status == 200 && result && result.body) {
                      if (result.body.status != "COMPLETE") {
                          console.log('Not complete: ')
                          console.log(result);
                          pollSession(result.nextPollUrl,pageIndex);
                      } else {
                          console.log('Complete:')
                          console.log(result);
                          displayHotels(result.body);
                      }
                      nextUrlToPoll = result.nextPollUrl || nextPollUrl;

                  } else {
                      $.toaster({
                          priority: 'danger',
                          message: 'Error making request to server.'
                      });
                      console.log('Status: ' + xhr.status);
                      console.log('Result: ' + JSON.stringify(result));
                  }
              }
          });
      }

      function attachDomEventListeners() {
          function attach() {
              $('#loadMoreResults').on('click', function() {
                  availableResults -= pageSize;
                  pollSession(nextUrlToPoll, pageIndex++)
              })
          }

          if (document.readyState != 'loading') {
              attach();
          } else {
              $(document).ready(attach);
          }
      }

      //Makes the intial request
      function initiateSession() {
          $('#hotelListings').html("");

          const city = $('#city').val() || "<%= data.params.city || '' %>";
          const country = $('#country').val() || "<%= data.params.country || '' %>";

          var message;
          if(city || country){
              message = 'Finding hotels relating to ' + (city || country);
          }else{
              message = 'Loading results based on your location';
          }

          $.waitingDialog.show(message);

          function makeRequest(results) {
              const data = {}

              if (results[0]) data.userLocation = results[0];
              if (results[1]) data.prefferedCurrency = results[1];
              if(city) data.city = city;
              if(country) data.country = country;       
              if($('#hotelPlaceSuggestions').val()) data.entityId = $('#hotelPlaceSuggestions').val();

              console.log('Sending: ');
              console.log(data);
              $.ajax({
                  method: 'POST',
                  url: '/hotel/retrieveSkyScannerListings',
                  data,
                  success: function(result, s, xhr) {
                      if (xhr.status == 200 && result) {
                          console.log(result);
                          console.log(result.initiateSession.nextPollUrl);
                           if(result.retrieveMostReleventHotel &&
                            Array.isArray(result.retrieveMostReleventHotel.suggestions)){

                            $('#hotelPlaceSuggestions').html("");
                            result.retrieveMostReleventHotel.suggestions.forEach(function(suggestion){
                                $('#hotelPlaceSuggestions').append($('<option></option>',
                                {value:suggestion['individual_id'],
                                text:suggestion['display_name']}))
                            })
                            $('hotelPlaceSuggestions').val(result.retrieveMostReleventHotel.mostRelevent);
                          }

                          if(result.initiateSession.body.status != 'COMPLETE'){
                                pollSession(result.initiateSession.nextPollUrl,pageIndex++)
                          }else{
                                nextUrlToPoll = result.initiateSession.nextPollUrl;
                                displayHotels(result.initiateSession.body);
                          }
                          attachDomEventListeners();
                      } else {
                          console.log(result);
                          alert('Error creating session')
                      }
                  }
              })
          }
          Promise.all([
              new Promise(function(resolve, reject) {
                  window.seatfilla.globals.geolocation.getUserLocation(function(status, userLocation) {
                      if (status == 200 && userLocation) {
                          return resolve(userLocation);
                      } else {
                          return resolve(null);
                      }
                  })
              }),
              new Promise(function(resolve, reject) {
                  window.seatfilla.globals.locale.getPrefferedCurrency(function(status, currency) {
                      if (status == 200 && currency) {
                          return resolve(currency);
                      } else {
                          return reject(null);
                      }
                  })
              }),
          ]).then(makeRequest).catch(function(err) {
              console.log(err);
          })
      }
      initiateSession();
  }


  $('#flight-search-details').load('/ajax/hotel-search-nav.ejs', function finished() {
         
             loadScript();

            $('#searchHotels').on('click',function(){
                loadScript();
            })

            $('#country').on('change',function(){
                 $('#hotelPlaceSuggestions').html("");
            })
            
      });
</script>
<div class="container-fluid">
        <!--<div class="progressNotification">
		<p>Fetching some results based on what we can decipher, please wait</p>
   
        <div class="progress progress-striped active page-progress-bar">
            <div class="progress-bar" style="width: 100%;"></div>
        </div>
        </div>-->
<div class="main-container">
	<div class="row" id="hotelListings">
	</div>
    <br/>
    <button id="loadMoreResults" class="btn btn-info btn-block hide">More</button>
</div>
</div>

