<!--

  You can  trigger this response from one of your controllers or policies with:
  `return res.notFound();`
-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
    
    <body>
    <div style="background-color:red;height:85vh;">
      <h1 class="text-center" style="color:white;">
          Uh oh. <small> This resource doesn't exist!</small><br> <a href="/">Return Home</a>
      </h1>
      
      <div class="text-center" style="color:white">
      <div>
        <img class="image img-responsive" width="500" height="600" src="./images/404.png">
      </div>
    </div>
    </div>
        <h1 class="text-center">SeatFilla <small>404</small></h1>
    </body>

