    <!DOCTYPE HTML>
    <html>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url"           content="seatfilla.com" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="SeatFilla" />
	<meta property="og:description"   content="Find flights" />
	<meta property="og:image"         content="seatfilla.com" />

    <!--SCRIPTS-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/platform/platform.js"></script>
    <script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/chat.js"></script>
    <script src="/js/dependencies/facebook.js"></script>
    <script src="/js/dependencies/geo-location.js"></script>
    <script src="/js/dependencies/geolocator.min.js"></script>
    <script src="/js/dependencies/jquery.toaster.js"></script>
    <script src="/js/dependencies/jquery.validate.js"></script>
    <script src="/js/dependencies/login.js"></script>
    <script src="/js/dependencies/notification-service.js"></script>
    <script src="/js/dependencies/seatfilla-config.js"></script>
    <script src="/js/dependencies/socket-handler.js"></script>
    <script src="/js/dependencies/supported-currencies.js"></script>
    <!--SCRIPTS END-->


    <link rel="import" href="/bower_components/paper-button/paper-button.html">
    <link rel="import" href="/bower_components/paper-toast/paper-toast.html">
    
    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->
    <%- body %>
   
    <%- partial ('partials/toast.ejs') %>
    <%- partial ('partials/modal.ejs') %>

  
    </body>
</html>
