
<style>

.with-nav-tabs.panel-default{
    background-image:none;
    background-color:#fff;
    border-style:none;
    border-width:0px;
}
.with-nav-tabs.panel-default .panel-heading{
    background-image:none;
    background-color:#fff;
    border-style:none;
    border-width:0px;
}
.with-nav-tabs.panel-default .panel-body{
    background-image:none;
    background-color:#fff;
}

.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: black;
    background-color:#fff;
    max-height:50px;
    text-align:center;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #fff;
    border-color: #bce8f1;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #fff;
}

</style>

<script>
    $(document).ready(function(){
        $('a[data-toggle="tab"]').on('click',function(){
            if(!$(this).hasClass('active')){
                const _this = $(this);
                $.get($(this).attr('data-page'),function(res){
                    $('a[data-toggle="tab"]').removeClass('active');
                    _this.addClass('active');
                    $('#tabContentPane').html(res);
                }).fail(function(){
                    $('a[data-toggle="tab"]').removeClass('active');
                    _this.addClass('active');
                    alert('Error loading data');
                })
            }
        })
    })
</script>
<div class="col-xs-12 with-nav-tabs panel-default" style="margin-left:40px;">
     <div class="panel-heading">
                        <ul class="nav nav-tabs">
                             <li class="dropdown">
                                <a href="#" data-toggle="dropdown"> Manage hotels <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a data-toggle="tab" data-page="hotel/create">Create hotel</a></li>
                                    <li><a data-toggle="tab">View my hotels</a></li>
                                </ul>
                            </li>
                            <li><a data-toggle="tab">Info 2</a></li>
                            <li><a data-toggle="tab">Info 3</a></li>
                            <li class="dropdown">
                                <a data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a data-toggle="tab">Info 4</a></li>
                                    <li><a data-toggle="tab">Info 5</a></li>
                                </ul>
                            </li>
                        </ul>
                </div>
                <div class="panel-body">
                        <div id="tabContentPane" class="tab-pane">
                        </div>
                </div>
        </div>
</div>