<style>
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: #f3f3f3; }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
.flightrequest-table th{
    font-size:10px;
}
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
</style>

<script type="text/html" id="flightRequestItem">
<li class="list-group-item" data-attr-flightRequestId="{{:id}}">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-12">
                                <div>
                                     Departure {{:departureCountry}} to {{:arrivalCountry}}
                                    <div class="mic-info">
                                     User: <a href="/userprofile/{{:username}}">{{:username}}</a>
                                                                                                          <button type="button" id="flightRequestAcceptModalButton{{:id}}"  type="button" class="btn btn-info badge" data-toggle="modal" data-target="#myModal{{:id}}">Accept flight request</button>
                                    </div>

                                </div>
                                <div class="table-responsive-vertical shadow-z-1" style="overflow-x:scroll;">
                                     <table class="table table-hover table-mc-light-blue" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>Username</th>
                                                    <th>Maximum payment</th>
                                                    <th>Departure country code</th>
                                                    <th>Departure country</th>
                                                    <th>Departure city</th>
                                                    <th>Departure city IATA code</th>
                                                    <th>Arrival country code</th>
                                                    <th>Arrival country</th>
                                                    <th>Arrival city</th>
                                                    <th>Arrival city IATA code</th>
                                                    <th>Cabin class</th>
                                                    <th>Adults</th>
                                                    <th>Children</th>
                                                    <th>Infants</th>
                                                    <th>Flight type</th>
                                                    <th>From departure date (YYYY-MM-DD)</th>
                                                    <th>To departure date (YYYY-MM-DD)</th>
                                                    <th>From return date (YYYY-MM-DD)</th>
                                                    <th>To return date (YYYY-MM-DD)</th>
                                                </tr>
                                            </thead>
                                            <tbody data-attr-flightRequestId="{{:id}}">
                                            <tr>
                                                    <td data-attr-text="{{:id}}">{{:id}}</td>
                                                    <td data-attr-text="{:username}}">{{:username}}</td>
                                                    <td data-attr-text="{{:maximumPayment}}">
                                                    	<span class="itemPrice" data-attr-price="">
                                                        <span data-attr-currency-symbol="{{:~currencySymbolFor(currency)}}">{{:~currencySymbolFor(currency)}}</span>
                                                        <span data-attr-amount="{{:maximumPayment}}">{{:~toFixedDp(maximumPayment,2)}}</span>
                                                        <span data-attr-currency-code="{{:currency}}">{{:currency}}</span>
                                                      </span>
                                                    </td>
                                                    <td data-attr-text="{{:departureCountryId}}">{{:departureCountryId}}</td>
                                                    <td data-attr-text="{{:departureCountry}}">{{:departureCountry}}</td>
                                                    <td data-attr-text="{{:departureCity}}">{{:departureCity}}</td>
                                                    <td data-attr-text="{{:departureIataCode}}">{{:departureIataCode}}</td>
                                                    <td data-attr-text="{{:arrivalCountryId}}">{{:arrivalCountryId}}</td>
                                                    <td data-attr-text="{{:arrivalCountry}}">{{:arrivalCountry}}</td>
                                                    <td data-attr-text="{{:arrivalCity}}">{{:arrivalCity}}</td>
                                                    <td data-attr-text="{{:arrivalIataCode}}">{{:arrivalIataCode}}</td>
                                                    <td data-attr-text="{{:cabinClass}}">{{:cabinClass}}</td>
                                                    <td data-attr-text="{{:adults}}">{{:adults}}</td>
                                                    <td data-attr-text="{{:children}}">{{:children}}</td>
                                                    <td data-attr-text="{{:infants}}">{{:infants}}</td>
                                                    <td data-attr-text="">Flight type</td>
                                                    <td data-attr-text="{{:departureDateStart}}">{{:~dateFormat(departureDateStart,'YYYY-MM-DD')}}</td></td>
                                                    <td data-attr-text="{{:departureDateEnd}}">{{:~dateFormat(departureDateEnd,'YYYY-MM-DD')}}</td>
                                                    <td data-attr-text="{{:returnDateStart}">{{:~dateFormat(returnDateStart,'YYYY-MM-DD')}}</td>
                                                    <td data-attr-text="{{:returnDateEnd}}">{{:~dateFormat(returnDateEnd,'YYYY-MM-DD')}}</td>
                                            </tr>
                                            </tbody>
                                    </table>
                                </div>
                                <div class="action">
                                       <div class="container">
                                        <div class="row">
                                            <br/>
                                            <div id="myModal{{:id}}" class="modal fade" role="dialog">
                                            <div class="vertical-alignment-modal">
                                            <div class="modal-dialog vertical-align-center">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                    <h4 class="modal-title">Accept flight request</h4>
                                                </div>
                                                <div class="modal-body" style="">
                                                <br/>
                                                <div class="panel">
                                                  <div class="panel-body form-horizontal" style="padding:20px;">
                                                  <form id="acceptForm" method="POST" action="/apiv1/flightrequest/{{:id}}/accept" data-attr-flightRequestId="{{:id}}">
                                                      <div class="form-group">
                                                          <label for="amount" class="col-sm-3 control-label">Hours user has to confirm</label>
                                                          <div class="col-sm-9">
                                                            <input id="number" name="hours" class="form-control" style="width:40%;" class="input" value="12" type="number" min="12" required/>
                                                          </div>
                                                      </div>
                                                       <div class="form-group">
                                                          <label for="amount" class="col-sm-3 control-label">Offer flight for:</label>
                                                          <div class="col-sm-9">
                                                              <span class="userCurrencySymbol"></span>
                                                              <input type="number" class="form-control" data-attr-max-price="{{:maximumPayment}}" data-attr-currency="{{:currency}}" value="{{:maximumPayment}}" min="0" max="{{:maximumPayment}}" id="amount" name="amount">
                                                              <span class="userCurrencyCode"></span>
                                                              <small> The user has expressed a maximum payment of {{:~toFixedDp(maximumPayment,2)}} {{:currency}}. </small><br/>
                                                              <small>
                                                                 This makes the maximum price you can offer the flight for to the user: <br/>
                                                                 <span class="itemPrice" data-attr-price="">
                                                                  <span data-attr-currency-symbol="{{:~currencySymbolFor(currency)}}">{{:~currencySymbolFor(currency)}}</span>
                                                                  <span data-attr-amount="{{:maximumPayment}}">{{:~toFixedDp(maximumPayment,2)}}</span>
                                                                  <span data-attr-currency-code="{{:currency}}">{{:currency}}</span>
                                                                </span>
                                                              </small>
                                                          </div>
                                                      </div>
                                                    <input type="hidden" name="currency" value="{{:~currentCurrencyCode()}}"/>
                                                    <div class="input-group center-block" style="margin-bottom:50px;">
                                                    <div class="col-xs-6">
                                                    <button type="submit" class="btn btn-info btn-block">Accept</button>
                                                    </div>
                                                    <div class="col-xs-6">
                                                    <button class="btn btn-danger btn-block" data-dismiss="modal">Close</button>
                                                    </div>
                                                    </div>
                                                </form>

                                                  </div>
                                                 </div>

                                                </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
</script>

<script type="text/html" id="acceptedFlightRequestItem">
<li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    Accepted flight request: ({{:id}})
                                </div>
                                <div class="" style="overflow:scroll;">
                                     <table class="flightrequest-table table table-responsive table-bordered table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>Provider payout status</th>
                                                    <th>Payout batch id</th>
                                                    <th>Payout item id</th>
                                                    <th>User payment status</th>
                                                    <th>User payment id</th>
                                                    <th>Valid until</th>
                                                </tr>
                                            </thead>
                                            <tbody data-attr-acceptedFlightRequestId="{{:id}}">
                                            <tr>

                                                    <tr>
                                                    <td>{{:id}}</td>
                                                    <td>{{:providerPayoutStatus}}</td>
                                                    <td>{{:providerPayoutBatchId || 'N/A'}}</td>
                                                    <td>{{:providerPayoutItemId || 'N/A'}}</td>
                                                    <td>{{:userPaymentStatus}}</td>
                                                    <td>{{:userPaymentId || 'N/A'}}</td>
                                                    <td>{{:validUntil}}</td>
                                                    </tr>

                                            </tr>

                                            </tbody>
                                    </table>
                                </div>
                                <div class="action">

                                </div>
                                </div>
                            </div>
                        </div>
                    </li>
</script>

<script>
$(document).ready(function() {
    (function($, io) {

        const apiUser = "<%=data.apiUser.apiToken%>";

        const flightRequests = {
          path:'/flightrequest',
          where:{
            status: "AwaitingProviderAccept",
            or:[
                {departureDateStart:{'>=':new Date().toISOString()}},
                {departureDateEnd:{'<=':new Date().toISOString()}}
            ]
          },
          limit:20,
          skip:0,
          moreId:'#flightRequestMore',
          templateId:'#flightRequestItem',
          containerId:'#flightRequestItems'
        }

        const acceptedFlightRequests = {
          path:'/acceptedflightrequest',
            where:{
              apiUser
          },
          limit:20,
          skip:0,
          moreId:'#acceptedFlightRequestMore',
          templateId:'#acceptedFlightRequestItem',
          containerId:'#acceptedFlightRequestItems'
        }

        const processedFlightRequests = {
          path:'/acceptedflightrequest',
          where:{
            providerPayoutStatus:'PAID',
            apiUser
          },
          limit:20,
          skip:0,
          moreId:'#processedFlightRequestMore',
          templateId:'#processedFlightRequestItem',
          containerId:'#processedFlightRequestItems'
        }

        $('#flightRequestItems').on('submit', '#acceptForm', function(e) {
            e.preventDefault();
            e.stopImmediatePropagation()
            console.log('clicked')
            var $form = $(this)
            if (!$form[0].checkValidity()) {
                $form.find(':submit').click()
            }

            const $this = $(this);
            const id = $this.attr('data-attr-flightRequestId');
            $.ajax({
                url: $this.attr('action'),
                method: $this.attr('method'),
                data: $this.serialize(),
                success: function(res) {
                    console.log(res);
                    if (res.status == 200) {
                        $('#myModal'+id).modal('toggle')
                        $.toaster({
                            message: 'Succesfully accepted flight request'
                        })
                    } else {
                        $.taoster({
                            message: 'Error accepting flight request ! ' + res.error || res.errorMessage,
                            priority: 'info'
                        });
                    }
                },
                error: function() {
                    alert('error')
                }
            })
        })

        $('[data-toggle]').on('click',function(){
             $('#seatfilla_currencies').trigger('change');
        })

        function getFlightRequests(options){

          if(!options.path) return;

          var path = options.path;


          if(options.where)
            path = path+ '?where=' + JSON.stringify(options.where);

          if(options.limit)
            path = path + '&limit=' + options.limit

          if(options.skip)
            path = path+ '&skip=' + options.skip

          if(options.sort)
            path = path + '&sort=' + options.sort

          console.log('path:' + path)

          io.socket.get(path, function(data) {
                options.skip += 20;
                console.log(data)
                if(data.length == 0){
                  $(options.moreId).attr('disabled','')
                  $(options.moreId).hide();
                  $.toaster({priority:'info',message: options.message || 'No more results to show'})
                }
                data.forEach(function(d) {
                    const $html = $($.templates(options.templateId).render(d));
                    $html.hide();
                    $(options.containerId).append($html.fadeIn(1000));
                })
                $('#seatfilla_currencies').trigger('change');
            })
        }

        io.socket.get('/apiusers?apiToken=' + apiUser, function() {})
        io.socket.on('apiusers', function(data) {
            console.log(data);
            switch (data.verb) {
                case 'addedTo':
                    if (data.added && data.attribute == 'acceptedFlightRequests') {
                        const $html = $($.templates('#acceptedFlightRequestItem').render(data.added))
                        $('#acceptedFlightRequestItems').prepend($html.hide().fadeIn(1000));
                    }
                    if (data.added && data.attribute == 'apiRequests') {

                    }
                    break;
            }
        })

        io.socket.on('flightrequest', function(res) {
            console.log('recieved flight request event');
            console.log(res)
            switch (res.verb) {
                case 'destroyed':
                    $('.list-group-item[data-attr-flightRequestId="' + res.id + '"]').fadeOut(1000).remove();
                    break;
                case 'updated':
                    if (res.data.status == 'AwaitingUserApproval') {
                        const $ele = $('.list-group-item[data-attr-flightRequestId="' + res.id + '"]');
                        console.log('found ele:')
                        console.log($ele)
                        $ele.css({'background-color': 'red'}).fadeOut(10000)
                        $('#flightRequestAcceptModalButton' + res.id).hide();
                    }
                    break;
                case 'created':
                    const $html = $($.templates('#flightRequestItem').render(res.data));
                    $html.hide();
                    $('#flightRequestItems').prepend($html.fadeIn(1000));
                    $('#seatfilla_currencies').trigger('change');
                    break;
            }
        })


        $('#filterDepartureCountry').on('change',function(){;
            flightRequests.where.departureCountry = $(this).val();
            flightRequests.skip = 0;
            $(flightRequests.containerId).html('')
            getFlightRequests(flightRequests);
        })

        $('#filterDepartureCity').on('change',function(){
            flightRequests.where.departureCity = $(this).val();
            flightRequests.skip = 0;
            $(flightRequests.containerId).html('')
            getFlightRequests(flightRequests);
        })

        $('#filterArrivalCity').on('change',function(){
            flightRequests.where.arrivalCity = $(this).val();
            flightRequests.skip = 0;
            $(flightRequests.containerId).html('')
            getFlightRequests(flightRequests);
        })

        $('#filterArrivalCountry').on('change',function(){
           flightRequests.where.arrivalCountry = $(this).val();
           $(flightRequests.containerId).html('')
           flightRequests.skip = 0;
           getFlightRequests(flightRequests);
        })

       $('#filterRequestMinimumPrice').bind('keyup change click', function (e) {
           const $this = $(this);
           flightRequests.where.maximumPayment = {'>=':$this.val()}
           $(flightRequests.containerId).html('')
           flightRequests.skip = 0;
           getFlightRequests(flightRequests);
        });

        $('#navToggle').on('click',function(){
          if($(this).hasClass('active')){
            $('.sidebar').fadeIn(500)
            $('#page-wrapper').css({'margin':'0 0 0 255px'})
          }else{
            $('.sidebar').fadeOut(500)
            $('#page-wrapper').css({'margin':'0px'})
          }
          $(this).toggleClass('active')
        })


        $('.search').on('input',function(){
          const query = $(this).val()

          console.log(query)

          if(query.length == 0){
            $('tbody tr').css('background-color','#fff');
            return;
          }

          $('tbody tr').each(function(indx,row){
              if($(row).find('td[data-attr-text="'+query+ '"]').length){
                $(row).css('background-color','lightblue');
              }
          })

        })

        $('#flightRequestMore').on('click',function(){
            getFlightRequests(flightRequests);
        })

         $('#acceptedFlightRequestMore').on('click',function(){
            getFlightRequests(acceptedFlightRequests)
        })

        $('#processedFlightRequestMore').on('click',function(){
           getFlightRequests(processedFlightRequests)
        })

        $('#flightRequestMore').trigger('click')
        $('#acceptedFlightRequestMore').trigger('click')
        $('#processedFlightRequestMore').trigger('click')
    })($, window.io);
});
</script>


<div id="wrapper" style="padding-top:20px;">
<div class="container-fluid">
    <div class="row" style="width:100%;">
		<div class="">


			<div class="tabbable-panel" style="">
				<div class="tabbable-line">
					<ul class="nav nav-tabs ">
						<li class="active">
							<a href="#tab_default_1" data-toggle="tab">
							Flight Requests </a>
						</li>
						<li>
							<a href="#tab_default_2" data-toggle="tab">
							Accepted flight requests </a>
						</li>
						<li>
							<a href="#tab_default_3" data-toggle="tab">
							Proccessed flight requests </a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_default_1">
							        <div class="panel panel-default">
                      <div class="panel-body">
                                    <div class="col-xs-6">
                                      <p> Flight requests </p>
                                    </div>
                                    <div class="col-xs-6 pull-right form-group">
                                        <input type="text" class="search form-control" style="border-radius:0px" placeholder="Search">
                                    </div>
                                     <div class="">
                                        <div class="">
                                        <div class="">
                                          <div class="btn-group">
                                              <div class="col-md-2">
                                              <p>Departure country</p>
                                              <select class="country form-control" id="filterDepartureCountry">
                                              </select>
                                              </div>
                                              <div class="col-md-2">
                                              <p>Arrival country</p>
                                              <select class="country form-control" id="filterArrivalCountry">
                                              </select>
                                              </div>
                                              <div class="col-md-2">
                                              <p>Departure city</p>
                                              <select class="city form-control" id="filterDepartureCity">
                                              </select>
                                              </div>
                                              <div class="col-md-2">
                                              <p>Arrival city</p>
                                              <select class="city form-control" id="filterDepartureCountry">
                                              </select>
                                              </div>
                                              <div class="col-md-2">
                                              <p>Min request price</p>
                                              <input type="number" class="form-control" id="filterRequestMinimumPrice"/>
                                              </div>
                                              <div class="col-md-2">
                                              <p>Currency</p>
                                               <select class="form-control" id="seatfilla_currencies">
                                              </select>
                                              </div>
                                          </div>
                                              <div class="row">
                                          <div class="panel panel-default">
                                              <div class="panel-body">
                                                  <ul id="flightRequestItems" class="list-group" style="max-height:600px;overflow-y:scroll;">

                                                  </ul>
                                                  <br/>
                                              </div>
                                              <a href="#" id="flightRequestMore" class="btn btn-info btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
                                          </div>
                                          </div>
                                        </div>
                                    </div>
                                    </div>
                                    <br/><br/>
                                  </div>
                                </div>

						</div>
						<div class="tab-pane" id="tab_default_2">
                        	<div class="tab-pane active" id="tab_default_1">
							        <div style="margin:7px">

                                    <div class="col-xs-6 pull-right form-group">
                                        <input type="text" class="search form-control" style="border-radius:0px" placeholder="Search">
                                    </div>
                                    </div>
                                    <br/><br/>
                                    <div class="row">
                                    <div class="panel  widget">
                                        <div class="panel-body">
                                            <ul id="acceptedFlightRequestItems" class="list-group">


                                            <br/>
                                        </div>
                                        <a href="#" id="acceptedFlightRequestMore" class="btn btn-info btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
                                    </div>
                                </div>

						</div>
						</div>
						<div class="tab-pane" id="tab_default_3">
                      	<div class="tab-pane active" id="tab_default_1">
							        <div style="margin:7px">

                                    <div class="col-xs-6 pull-right form-group">
                                        <input type="text" class="search form-control" style="border-radius:0px" placeholder="Search">
                                    </div>
                                    </div>
                                    <br/><br/>
                                    <div class="row">
                                    <div class="panel  widget">
                                        <div class="panel-body">
                                            <ul id="acceptedFlightRequestItems" class="list-group">


                                            <br/>
                                        </div>
                                        <a href="#" id="processedFlightRequestMore" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
                                    </div>
                                </div>

						</div>
						</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>

</div>

