
   
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
   

    <!-- MetisMenu CSS -->
    <link href="/js/providerdash/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/js/providerdash/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/js/providerdash/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="provider-login" style="background-color:white;">
<%- partial ('../partials/nav.ejs') %>
    <div class="container-fluid" style="padding:100px;">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading" style="background-image:none;background-color:#fefefe;">
                            <img src="/images/Logo.png" class="img img-responsive" style="margin:auto;" width="50" height="50"/>
                            <p class="text-center">Login to Seatfilla</p>
                    </div>
                    <div class="panel-body">
                    
                    <% req.flash('info').forEach(function (message) { %>
                    <div class="alert alert-info">
                    <%=message%>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                    <% }) %>
                    <% req.flash('warning').forEach(function (message) { %>
                    <div class="alert alert-warning">
                    <%=message%>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                    <% }) %>
                        <form id="authForm" action="/auth/local" method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control input input-sm" placeholder="Email/Username" id="email" name="email" type="text" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control input input-sm" placeholder="Password" id="password"  name="password" type="password" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control input input-sm" id="apiKey" type="text" style="display:none;" placeholder="API key" name="apiKey" required>
                                </div>
                                  <div class="form-group">
                                    <input class="form-control input input-sm" id="apiSecret" type="password" style="display:none;" placeholder="API secret" name="apiSecret" required>
                                </div>
                                <div id="radio-container">
                                    <label class="radio-inline">
                                    <input type="radio" id="seatfilla" name="endpoint" value="seatfilla">Seatfilla
                                    </label>
                                    <label class="radio-inline">
                                    <input type="radio" id="provider" name="endpoint" value="provider" checked>Provider panel
                                    </label>
                                </div>
                                <br/>
                                </hr>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" id="rememberMe" type="checkbox" value="Remember Me">Remember Me
                                    </label><br>
                                    <small style="color:red;">* Warning do not use this option on public computers</small>
                                </div>
                                <input type="hidden" id="redirectFailiure" name="redirectFailiure"/>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" id="login" class="btn btn-lg btn-success btn-block">Login</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- partial ('../partials/footer.ejs') %>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/js/providerdash/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/providerdash/dist/js/sb-admin-2.js"></script>

    <script>
     $(document).ready(function(){
         $('#redirectFailiure').val(window.location.pathname);

         window.seatfilla.globals.cache.get({
            key: 'credentials',
            type: 'local',
            success: function(status,data){
                if(status == 200 && data){
                    $('#email').val(data.user);
                   $('#password').val(data.password);
                }
            }
         })

         if(window.location.pathname
         .toLowerCase() == '/login'){
            $('#radio-container').css('display','none');
            $('#apiKey').removeAttr('required')
            $('#apiSecret').removeAttr('required')
         }else{
            $('#authForm').attr('action','/provider/authenticate');
            $('#apiKey').css('display','')
            $('#apiSecret').css('display','')
         }

        $("input[name='endpoint']").change(function(){
            if($(this).val() == 'seatfilla'){
                $('#authForm').attr('action','/auth/local');
                $('#apiKey').css('display','none')
                $('#apiSecret').css('display','none')
                $('#apiKey').removeAttr('required')
                $('#apiSecret').removeAttr('required')
            }else{
                $('#authForm').attr('action','/provider/authenticate');
                $('#apiKey').css('display','')
                $('#apiSecret').css('display','')
                $('#apiKey').attr('required','required')
                $('#apiSecret').attr('required','required')
            }
        });
             

        $('#authForm').submit(function(){
            if($('#rememberMe').is(":checked")){
                console.log('Remembering user');
                window.seatfilla.globals.cache.put({
                    key: 'credentials',
                    data: {
                        user: $('#email').val(),
                        password: $('#password').val()
                    },
                    type: 'local',
                    useServerStore: false,
                    success: function(status){
                        console.log('status')
                    }
                })
            }else{
                console.log('Not remembering user');
            }
        })
     })
    </script>
</body>

