
<div class="container-fluid">

<div style="display:none;" id="template">
        <div style="width:80%;">
			<form id="flightRequestForm">
              <div class="form-group">
                <label for="flight_type">Type of request</label>
                <select id="flight_type" class="form-control noselect">
                <option value="Oneway">One-way</option>
                <option value="Return" selected>Return Flight</option>
                </select>
              </div>
              <div class="row">
                    <div class="col-xs-6">
                        <label for="departureDateStart">Departure Date</label>   
                        <input type="date" name="departureDateStart" id="departure_date" class="form-control" required/>
                    </div>
                    <div class="col-xs-6">
                        <label for="departureDateEnd">Latest Departure Date</label>   
                        <input type="date" name="departureDateEnd" id="departure_date_end" class="form-control"/>
                    </div>
              </div>
              <div class="row">
                    <div class="col-xs-6">
                        <label  for="returnDateStart">Return Date</label> 
                        <input type="date" name="returnDateStart" id="return_date" class="form-control" required/>
                    </div>
                    <div class="col-xs-6">
                        <label  for="returnDateEnd">Latest Return Date</label> 
                        <input type="date" name="returnDateEnd" id="return_date_end" class="form-control"/>
                    </div>
              </div>
                <div class="row">
                <div class="col-xs-6">
                        <label for="departure_country">From country</label>   
                        <select id="departure_country" name="departureCountry" data-attr-cityLink="#departure_city" class="country noselect form-control" required/> 
                        </select>
                </div>
                <div class="col-xs-6">
                        <label for="to_country">To country</label> 
                        <select id="to_country" name="arrivalCountry" data-attr-cityLink="#to_city" class="country noselect form-control" required/>
                        </select>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                        <label for="departure_city">From city</label>   
                        <select id="departure_city" name="departureIataCode" class="city noselect form-control" required/> 
                        </select>
                </div>
                <div class="col-xs-6">
                        <label  for="to_city">To city</label> 
                        <select id="to_city" name="arrivalIataCode" class="city noselect form-control" required/>
                        </select>
                </div>
              </div>
              <div class="row">
              <div class="col-xs-8">
              <label for="cabin_class">Cabin class</label>   
                <select id="cabin_class" name="cabinClass" class="form-control noselect" required/>
                <option value="Economy" selected>Economy</option>
                <option value="PremiumEconomy">Premium Economy</option>
                <option value="Business">Business Class</option>
                <option value="First">First Class</option>
                </select>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4">
                        <label for="adults">No. adults</label>   
                        <input id="adults" name="adults" type="number" class="form-control" value="1" required/>
                </div>
                <div class="col-xs-4">
                        <label  for="children">No. Children</label> 
                           <input id="children" name="children" type="number" class="form-control" value="0" required/>
                </div>
                  <div class="col-xs-4">
                        <label  for="infants">No. infants</label> 
                        <input id="infants" name="infants" type="number" class="form-control" value="0" required/>
                </div>
              </div>
              <br/>
              <hr/>
              <br/>
            <div class="row">
                <div class="col-xs-8">
                   <label  for="maxPrice">Find flights cheaper than (Not required): </label> 
                   <div class="form-inline">
                   <span id="currencySymbol"></span> <input id="maxPrice" name="maxPrice" class="form-control" type="number" value="0"/> 
                   </div>
                </div>
        
                <div class="col-xs-4">
                <label for="currency">Currency</label>   
                <select id="currency" name="currency" class="form-control" required/>
                </select>
                </div>
            </div>
            </form>
            </div>
</div>

<h2 class="text-center">Make a flight request</h2>
<div id="scheduler_here" class="dhx_cal_container" style='width:100%;height:1000px;'>
    <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
        <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
        <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
        <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>       
</div>

</div>

	
<!-- SCRIPTS WILL BE AUTOMATICALLY LOADED WHEN PAGE IS SENT VIA AJAX (see lazy-script-loader.js)-->
<div style="display:hidden;" data-attr-lazyload-sync="" data-attr-href="/independent-css/scheduler/dhtmlxscheduler.css"></div>
<div style="display:hidden;" data-attr-lazyload-sync="" data-attr-src="/scripts/scheduler/dhtmlxscheduler.js"></div>
<div style="display:hidden;" data-attr-lazyload-sync="" data-attr-src="/scripts/flightRequestScheduler.js"></div>

