<script>

  $('#seatfilla_currencies').on('change',function(){
      $('.userCurrencySymbol').text($('#seatfilla_currencies option:selected').attr('data-symbol'))
      $('.userCurrencyCode').text($('#seatfilla_currencies option:selected').val())
  })

  $('#seatfilla_currencies').trigger('change');


</script>
<div class="container-fluid">

<div id="template">
        <div style="">
			<form id="flightRequestForm" method="POST" action="/UserProfile/<%=req.user.username%>/FlightRequest/Create">
              <div class="form-group">
                <label for="flightType">Type of request</label>
                <select id="flight_type" name="flightType" class="form-control" required>
                <option value="One-way">One-way</option>
                <option value="Return" selected>Return Flight</option>
                </select>
              </div>
              <div class="row">
                    <div class="col-xs-6">
                        <label for="departureDateStart">Departure Date</label>
                        <input type="date" name="departureDateStart" id="departure_date" class="form-control" required/>
                    </div>
                    <div class="col-xs-6">
                        <label for="departureDateEnd">Latest Departure Date</label>
                        <input type="date" name="departureDateEnd" id="departure_date_end" class="form-control"/>
                    </div>
              </div>
              <div class="row">
                    <div class="col-xs-6">
                        <label  for="returnDateStart">Return Date</label>
                        <input type="date" name="returnDateStart" id="return_date" class="form-control" required/>
                    </div>
                    <div class="col-xs-6">
                        <label  for="returnDateEnd">Latest Return Date</label>
                        <input type="date" name="returnDateEnd" id="return_date_end" class="form-control"/>
                    </div>
              </div>
                <div class="row">
                <div class="col-xs-6">
                        <label for="departureCountry">From country</label>
                        <select id="departureCountry" name="departureCountry" data-attr-cityLink="#departureCity" class="country form-control" required/>

                        </select>
                </div>
                <div class="col-xs-6">
                        <label for="arrivalCountry">To country</label>
                        <select id="arrivalCountry" name="arrivalCountry" data-attr-cityLink="#arrivalCity" class="country form-control" required/>
                        </select>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                        <label for="departureCity">From city</label>
                        <select id="departureCity" name="departureCity" class="city form-control" required/>
                        </select>
                </div>
                <div class="col-xs-6">
                        <label  for="arrivalCity">To city</label>
                        <select id="arrivalCity" name="arrivaCity" class="city form-control" required/>
                        </select>
                </div>
              </div>
              <div class="row">
              <div class="col-xs-8">
              <label for="cabin_class">Cabin class</label>
                <select id="cabin_class" name="cabinClass" class="form-control" required>
                    <option value="Economy" selected>Economy</option>
                    <option value="PremiumEconomy">Premium Economy</option>
                    <option value="Business">Business Class</option>
                    <option value="First">First Class</option>
                </select>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4">
                        <label for="adults">No. adults</label>
                        <input id="adults" name="adults" type="number" class="form-control" value="1" required/>
                </div>
                <div class="col-xs-4">
                        <label  for="children">No. Children</label>
                           <input id="children" name="children" type="number" class="form-control" value="0" required/>
                </div>
                  <div class="col-xs-4">
                        <label  for="infants">No. infants</label>
                        <input id="infants" name="infants" type="number" class="form-control" value="0" required/>
                </div>
              </div>
              <br/>
              <hr/>
              <br/>
            <div class="row">
                <div class="col-xs-8">
                   <label  for="maxPrice">Max you are willing to pay for the flight: </label>
                   <div class="form-inline">
                   <span class="userCurrencySymbol"></span> <input id="maxPrice" name="maximumPayment" class="form-control" data-attr-min-price="1" data-attr-currency="USD" min="1" type="number" value="1" requied/>
                   <span class="userCurrencyCode"></span>
                   </div>
                </div>
            </div>
            <br/>
            <button type="submit" class="btn btn-info btn-block">Create a flight request</button>
            </form>
            </div>
            <br/></br>
</div>


<!-- SCRIPTS WILL BE AUTOMATICALLY LOADED WHEN PAGE IS SENT VIA AJAX (see lazy-script-loader.js)-->
