<body>
      <%- partial ('../partials/nav.ejs') %>

        <div class="container-fluid" style="height:100vh;margin-top:95px;">

            <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3" style="margin:0px;padding:0px;">
                 <paper-material elevation="4">
              <div class="divider-50" style="min-height:100vh;">
                    <div class="panel" style="padding-top:80px;padding-bottom:80px;margin:0px;">
                    <div class="panel-heading">
                     <p class="lead" id = "country">  <iron-icon icon="maps:place"></iron-icon>New Zealand</h2><img src="" id="country_flag" width="32" height="32" class="img img-responsive pull-right"/>
                     <p id="location"></p>
                     <hr>
                    </div>
                    <div class="panel-body">
                    <div class="form-group">
                      <label for="departure_country">Departure Country</label>
                        <input id="departure_country" type="text" class="form-control" value=""/>
                    </div>
                    <div class="form-group">
                      <label for="departure_city">Departure City</label>
                            <input id="departure_city" type="text" class="form-control" value=""/>
                    </div>
                     <div class="form-group">
                      <label for="pwd">Departure Airport(s)</label>
                               <select id="airports_selections" multiselect="true" class="form-control">
                    </select>
                    </div>
                    <hr>
                    <div class="form-group">
                      <label for="pwd"> Destination Country/City:</label>
                             <input type="text" id="destination_query" class="form-control"/>
                    </select>
                    </div>
                    <div class="form-group">
                      <label for="pwd">Destination Airport(s)</label>
                            <select id="destination_airports" multiselect="true" class="form-control">
                            </select>
                    </select>
                    </div>
                    <hr>
                    </div>
                    <div class="panel-footer">
                      <button id="Search" class="btn btn-info btn-block">Search </button>
                    </div>
                    </div>

                </div>
                <div class="content-footer">
                </div>
            </div>
            </paper-material>

            <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9" style="margin:0px;padding:0px;">
            <div id="map-canvas" style="width:100vw;height:100vh;padding:0px;margin:0px;"></div>
            <div id="legend">
              <small>Map symbols</small>
            </div>
            </div>
          </div>
        </div>



  <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="min-width:80%;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Search flights</h2>
      </div>
      <div class="modal-body">


<div class="container-fluid">
	<div class="panel panel-info">
        <div class="panel-heading">
            <p>You're nearly there! we just need a little more information.</p>
            <br/>
        </div>
        <div class="panel-content">
        <form id="datesForm" class="form-horizontal container80">
        <fieldset>
        <br/>
        <div class="input-group" style="width:100%;background-color:transparent;">

          <div class="form-group">

              <label class="col-md-2 control-label text-black" for="name">Departure Date</label>
              <div class="col-md-4">
              <input name="departureDate" id="departure_date" type="date" placeholder="Departure Date" class="form-control input-md" required="">
              <span class="help-block">The departure date of the flight (Must be today, or in the future)</span>
              </div>


              <label class="col-md-2 control-label text-black" for="name">Return Date</label>
              <div class="col-md-4">
              <input id="return_date" name="returnDate" type="date" placeholder="Return Date" class="form-control input-md">
              <span class="help-block">Enter the return flight date (If return is required)</span>
              </div>


            </div><!-- form group-->
                   <hr/><br/>

             <div class="form-group">

                <label class="col-md-2 control-label text-black" for="name">Cabin class</label>
                <div class="col-md-4">
                <select name="cabinClass" id="cabin_class"  class="form-control input-md" required="">
                  <option value="Economy" selected="">Economy class</option>
                  <option value="PremiumEconomy"> Premium Economy class</option>
                  <option value="Business">Business class</option>
                  <option value="First">First class</option>
                </select>
                <span class="help-block">The cabin class required when flying.</span>
                </div>

                <label class="col-md-2 control-label text-black" for="name">Group pricing</label>
                <div class="col-md-4">
                <input id="group_pricing" name="groupPricing" type="checkbox" placeholder="Return Date" class="form-control input-md">
                <span class="help-block">If checked, the result prices will be the total for all tickets rather than one adult.</span>
                </div>

             </div>
             <hr/><br/>

            <div class="form-group">
              <div class="row">


                <div class="col-xs-12">

                  <label class="col-md-2 control-label text-black" for="num_adult_tickets">Number of adult tickets</label>
                  <div class="col-md-2">
                  <input name="departureDate" id="num_adult_tickets" type="number" value="1" class="form-control input-sm" required="">
                  </div>

                  <label class="col-md-2 control-label text-black" for="num_child_tickets">Number of child tickets</label>
                  <div class="col-md-2">
                  <input id="num_child_tickets" type="number" class="form-control input-sm" value="0" required="">
                  </div>

                  <label class="col-md-2 control-label text-black" for="num_infant_tickets">Number of infant tickets</label>
                  <div class="col-md-2">
                  <input id="num_infant_tickets" type="number" class="form-control input-sm" value="0" required="">
                  </div>
                </div
              </div>
            </div>

            </div><!--input group-->
            <button type="submit" style="display:hidden"></button>
                  </fieldset>
            </form>


            <ul id="flightResults" class="list-group" style="overflow:scroll;">

            </ul>
        </div><!--panel body-->
        </div>
      </div>

      </div>
      <div class="modal-footer">
          <button id="searchFlights" class="btn btn-lg btn-info btn-block">Load results</button>
      </div>
    </div>
  </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDBWrH7DuCZ8wNlOXgINCtI_gT9NkDRq4"></script>
<script type="text/javascript" src="/js/maps/sf-map.js"></script>
<script type="text/javascript" src="/js/maps/airport-data2.js"></script>
<script type="text/javascript" src="/js/maps/airport-map.js"></script>
  </body>


