<!-- Seatfilla V0.01 Capstone project developed by Dale/Richard, enjoy -->
<script type="text/javascript" src="/bower_components/geolocator/dist/geolocator.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDBWrH7DuCZ8wNlOXgINCtI_gT9NkDRq4"></script>
<script src="/js/dependencies/g-maps.js"></script>
<script>
    $(document).ready(function(){
       var sf_map = _seat_filla_map({
                    enableHighAccuracy: true,
                    timeout: 6000,
                    maximumAge: 0,
                    desiredAccuracy: 30,
                    fallbackToIP: true,
                    addressLookup: true,
                    timezone: true,
                    useCache:true,
                    preFetchLocation:true,
                    maxOpenMarkers:1
        });

    });
</script>
<body class="fullbleed layout vertical">
      <%- partial ('../partials/nav.ejs') %>
      <app-box class="merge" effects="parallax-background">
        <div id="container">  
            <div class="row">
            <div class="col-md-3">
              <div class="divider-50" style="min-height:50vh;width:100vw;">

              </div>
              <div class="divider-50" style="min-height:50vh;width:100vw;">

              </div>
            </div>
            <div class="col-md-9">
            <div id="map-canvas" style="width:100vw;height:100vh"></div>
            </div>
          <div class="map-footer" style="width:100%;color:black;display:block;">
            
          </div>
          </div>
        </div>
        <%- partial ('../partials/footer.ejs') %>
      </app-box>
    </app-header-layout>
  </app-drawer-layout>
  </body>