<!-- Seatfilla V0.01 Capstone project developed by Dale/Richard, enjoy -->
<style>
  #legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid orange;
      }
  #legend img {
      vertical-align: middle;
  }
</style>

<body class="fullbleed layout vertical">
      <%- partial ('../partials/nav.ejs') %>
      <app-box class="merge" effects="parallax-background">
        <div id="container-fluid">  
            <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
              <div class="divider-50" style="margin:0px;padding-top:0px;padding-left:10px;height:100vh;">
        
           <h2 style="font-size:20px">Available flights</h2>
       <div style="height:100vh;overflow-y:auto;overflow-x:hidden;">
					<div class="panel-body">
						<div class="table-container">
							<table class="table table-filter">
								<tbody>
									<tr>
										<td>      
											<div class="media">
												<a href="#" class="pull-left">
													<h3>Flight xxx</h3>
												</a>
												<div class="media-body">
													<span class="media-meta">Departs: Febrero 13, 2016</span>
                          <br>
                          <span class="media-meta">Departs: Febrero 13, 2016</span> 
												</div>
											</div>
										</td>
									</tr>
                  <tr>
                  	<tr>
										<td>      
											<div class="media">
												<a href="#" class="pull-left">
													<h3>Flight xxx</h3>
												</a>
												<div class="media-body">
													<span class="media-meta">Departs: Febrero 13, 2016</span>
                          <br>
                          <span class="media-meta">Departs: Febrero 13, 2016</span> 
												</div>
											</div>
										</td>
									</tr>
                  <tr>
                  	<tr>
										<td>      
											<div class="media">
												<a href="#" class="pull-left">
													<h3>Flight xxx</h3>
												</a>
												<div class="media-body">
													<span class="media-meta">Departs: Febrero 13, 2016</span>
                          <br>
                          <span class="media-meta">Departs: Febrero 13, 2016</span> 
												</div>
											</div>
										</td>
									</tr>
                  <tr>
                  	<tr>
										<td>      
											<div class="media">
												<a href="#" class="pull-left">
													<h3>Flight xxx</h3>
												</a>
												<div class="media-body">
													<span class="media-meta">Departs: Febrero 13, 2016</span>
                          <br>
                          <span class="media-meta">Departs: Febrero 13, 2016</span> 
												</div>
											</div>
										</td>
									</tr>
                  <tr>
                  	<tr>
										<td>      
											<div class="media">
												<a href="#" class="pull-left">
													<h3>Flight xxx</h3>
												</a>
												<div class="media-body">
													<span class="media-meta">Departs: Febrero 13, 2016</span>
                          <br>
                          <span class="media-meta">Departs: Febrero 13, 2016</span> 
												</div>
											</div>
										</td>
									</tr>
                  <tr>
                  	<tr>
										<td>      
											<div class="media">
												<a href="#" class="pull-left">
													<h3>Flight xxx</h3>
												</a>
												<div class="media-body">
													<span class="media-meta">Departs: Febrero 13, 2016</span>
                          <br>
                          <span class="media-meta">Departs: Febrero 13, 2016</span> 
												</div>
											</div>
										</td>
									</tr>
                  <tr>
                  	<tr>
										<td>      
											<div class="media">
												<a href="#" class="pull-left">
													<h3>Flight xxx</h3>
												</a>
												<div class="media-body">
													<span class="media-meta">Departs: Febrero 13, 2016</span>
                          <br>
                          <span class="media-meta">Departs: Febrero 13, 2016</span> 
												</div>
											</div>
										</td>
									</tr>
                  <tr>
                  	<tr>
										<td>      
											<div class="media">
												<a href="#" class="pull-left">
													<h3>Flight xxx</h3>
												</a>
												<div class="media-body">
													<span class="media-meta">Departs: Febrero 13, 2016</span>
                          <br>
                          <span class="media-meta">Departs: Febrero 13, 2016</span> 
												</div>
											</div>
										</td>
									</tr>
                  <tr>
                  	<tr>
										<td>      
											<div class="media">
												<a href="#" class="pull-left">
													<h3>Flight xxx</h3>
												</a>
												<div class="media-body">
													<span class="media-meta">Departs: Febrero 13, 2016</span>
                          <br>
                          <span class="media-meta">Departs: Febrero 13, 2016</span> 
												</div>
											</div>
										</td>
									</tr>
                  <tr>
										<td>      
											<div class="media">
												<a href="#" class="pull-left">
													<h3>Flight xxx</h3>
												</a>
												<div class="media-body">
													<span class="media-meta">Departs: Febrero 13, 2016</span>
                          <br>
                          <span class="media-meta">Departs: Febrero 13, 2016</span> 
												</div>
											</div>
										</td>
									</tr>
                  <tr>
										<td>      
											<div class="media">
												<a href="#" class="pull-left">
													<h3>Flight xxx</h3>
												</a>
												<div class="media-body">
													<span class="media-meta">Departs: Febrero 13, 2016</span>
                          <br>
                          <span class="media-meta">Departs: Febrero 13, 2016</span> 
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="content-footer">
				</div>

 

              </div>

            </div>

            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
            <div id="map-canvas" style="width:100vw;height:95vh"></div>
            <div id="legend">
              <small>Map symbols</small>
            </div>
            </div>
           
            <div class="col-md-3 col-sm-3 col-xs-3">
                  <section style="margin:0px;padding-top:0px;padding-left:10px;">
                    <h2 style="font-size:20px">Flight Details</h2>

                 
                    
                    <div class="panel panel-default">
                    <div class="panel-body">
                    <small>Current position : <span id="location"></span></small><br><br>

                    Departure Country:
                    <input id="departure_country" type="text" class="input" value=""/><br>
                    Departure City:
                    <input id="departure_city" type="text" class="input" value=""/><br>


                    Departure Airport(s)
                    <select id="airports_selections" multiselect="true">
                    </select>
                    <hr>
                    <br>
                    Destination Country/City:
                    <input type="text" id="destination_query"/>
                    Destination Airport(s)
                    <select id="destination_airports" multiselect="true">
                    </select>
                    <hr>
                    <br>
                    
                    </div>
                    <div class="panel-footer">
                      <input type="button" class="btn btn-default" value="Search" id="Search"/>
                    </div>
                    </div>

                </section>
            </div>


          </div>


        </div>
        <%- partial ('../partials/footer.ejs') %>
      </app-box>
    </app-header-layout>
  </app-drawer-layout>

<script type="text/javascript" src="/bower_components/geolocator/dist/geolocator.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDBWrH7DuCZ8wNlOXgINCtI_gT9NkDRq4"></script>
<script>
    $(window).ready(function(){
       var sf_map = _seat_filla_map({
                    enableHighAccuracy: true,
                    timeout: 6000,
                    maximumAge: 0,
                    desiredAccuracy: 30,
                    fallbackToIP: true,
                    addressLookup: true,
                    timezone: true,
                    useCache:true,
                    preFetchLocation:true,
                    maxOpenMarkers:1      
        });

      (function initMap(){
       
       var line;

       //SVG path for a plane
       const planeSymbol = {
             path: 'M362.985,430.724l-10.248,51.234l62.332,57.969l-3.293,26.145 l-71.345-23.599l-2.001,13.069l-2.057-13.529l-71.278,22.928l-5.762-23.984l64.097-59.271l-8.913-51.359l0.858-114.43 l-21.945-11.338l-189.358,88.76l-1.18-32.262l213.344-180.08l0.875-107.436l7.973-32.005l7.642-12.054l7.377-3.958l9.238,3.65 l6.367,14.925l7.369,30.363v106.375l211.592,182.082l-1.496,32.247l-188.479-90.61l-21.616,10.087l-0.094,115.684',
             scale: 0.0493,
             strokeOpacity: 1,
             strokeColor: '#G2F',
             strokeWeight: 1,
             anchor: new google.maps.Point(300, 300)
       }

       const icons = {
         airport:{
                    url: 'http://127.0.0.1:1337/images/g_maps_airport_icon.png',
                    // This marker is 20 pixels wide by 32 pixels high.
                    size: new google.maps.Size(32, 32),
                    // The origin for this image is (0, 0).
                    origin: new google.maps.Point(0, 0),
                    // The anchor for this image is the base of the airport icon at (0, 32).
                    anchor: new google.maps.Point(32 / 2, 32)
                }
       }
      const airportMarker = {
                title: 'Some title',
                map: sf_map.map,
                animation: google.maps.Animation.DROP,
                markerClickAnimation: google.maps.Animation.BOUNCE,
                draggable: true,
                icon: icons.airport,
                onClickListeners: {
                    mapListeners: [],
                    markerListeners: [
                        function onMarkerClicked(event) {
                            var from = {
                                latitude: sf_map.location.coords.latitude,
                                longitude: sf_map.location.coords.longitude,
                                lat: sf_map.location.coords.latitude,
                                lng: sf_map.location.coords.longitude
                            }
                            var to = {
                                latitude: event.latLng.lat(),
                                longitude: event.latLng.lng(),
                                lat: event.latLng.lat(),
                                lng: event.latLng.lng()
                            }
                            var result = geolocator.calcDistance({ from, to });
                            console.log(result);

                            if (line) line.setMap(null);

              
                            line = sf_map.createAnimatedLineSymbol({
                                path: [from, to],
                                icons: [{
                                    icon: planeSymbol,
                                    offset: '0%',
                                    repeat:'100px'
                                }],
                                strokeOpacity: 0.5,
                                strokeColor: '#FFF'
                            })
                            console.log(line);
                        },
                        function updateSelection(event){
                            var pos = {
                              lat: event.latLng.lat(),
                              lng: event.latLng.lng(),
                            }
                            $('#destination_airports').val(JSON.stringify(pos));
                        }
                    ]
                },
                content: '<h1>Its an airport!</h1>'
          }

        const airport_data = sf_retrieveAirportData();
        const airportDataKeys = Object.keys(airport_data).sort(function(one,two){
             const data1 = airport_data[one];
             const data2 = airport_data[two];

             return data1.City.localeCompare(data2.City);
        });;
 
        $('#departure_city').val(sf_map.location.address.region);
        $('#departure_country').val(sf_map.location.address.country);
        $('#location').text(sf_map.location.formattedAddress);


        airportDataKeys.forEach(function(key){
            const data = airport_data[key];
             const option = document.createElement('option');
             option.innerHTML = data.Name;
   
            if(data.City == sf_map.location.address.region  || data.Country == sf_map.location.address.city){
              $('#airports_selections').append(option.outerHTML);
            }
        });

        $('#Search').click(function(){ 
            const query = $('#destination_query').val();
     
            airportDataKeys.forEach(function(key){
                const data = airport_data[key];
                if(data.City == query || data.Country == query){
                    const pos = {
                        lng : data.Longitude,
                        lat: data.Latitude
                    }

                    const div = document.createElement('div');
                    const h2 = document.createElement('h2');
                    h2.innerHTML = data.Name;

                    const p = document.createElement('p');
                    p.innerHTML = 'Country: ' + data.Country + '<br>'
                                  + 'City: ' + data.City + '<br>';

                    div.appendChild(h2);
                    div.appendChild(p);

                    airportMarker.content = div.outerHTML;
                    airportMarker.position = pos;

            
                    const element =  $('<option></option>').html(data.Name).attr('value', JSON.stringify(pos));
                    $('#destination_airports').append(element);

                    sf_map.addMarker(airportMarker);
                }
            });
        });

        $('#destination_airports').on('change', function() {
           var obj =  $(this).val();
           const marker = sf_map.getMarkerJsonString(obj);
           marker.infowindow.open(sf_map.map,marker.marker);
        });

        const legend = document.getElementById('legend');
        for (var key in icons) {
          var type = icons[key];
          var name = key;
          var icon = type.url;
          var div = document.createElement('div');
          div.innerHTML = '<img src="' + icon + '"> ' + name;
          legend.appendChild(div);
        }

        sf_map.addLegend(legend,google.maps.ControlPosition.TOP_LEFT);
    })();
});
</script>
  </body>