<style>

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.activity-feed {
    padding: 15px;
}
.activity-feed .feed-item {
    position: relative;
    padding-bottom: 20px;
    padding-left: 30px;
    border-left: 2px solid #e4e8eb;
}
.activity-feed .feed-item:last-child {
    border-color: transparent;
}
.activity-feed .feed-item:after {
    position: absolute;
    top: 0;
    left: -6px;
    display: block;
    width: 10px;
    height: 10px;
    content: '';
    border: 1px solid #f37167;
    border-radius: 6px;
    background: #fff;
}
.activity-feed .feed-item .date {
    font-size: 13px;
    position: relative;
    top: -5px;
    text-transform: uppercase;
    color: #8c96a3;
}
.activity-feed .feed-item .text {
    position: relative;
    top: -3px;
}
#legend {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    border: 3px solid orange;
    background: #fff;
}
#legend img {
    vertical-align: middle;
}
label {
    font-size: 12px;
}
paper-button.fancy {
    width: 100%;
    margin: 0;
    padding: 10px;
    color: black;
}
.yellow-button {
    text-transform: none;
    color: #eeff41;
}
#myModal {
    min-width: 80%;
}
#myModal .modal-dialog {
    min-width: 80%;
    min-height: 80%;
}
.service1-items {
    position: relative;
    float: left;
    overflow: hidden;
    width: 130px;
    max-width: 100%;
    height: 321px;
    padding: 0 0 0 0;
}
.service1-item {
    position: relative;
    display: block;
    float: left;
    width: 120px;
    height: 107px;
    padding-right: 20px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.service1-item > img {
    max-width: 110px;
    max-height: 110px;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
    opacity: .6;
}
.content-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 0;
    background: #fff;
}
.view-wrapper {
    float: right;
    max-width: 70%;
    margin-top: 25px;
}
.container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}
.service1-item > img:hover {
    cursor: pointer;
    opacity: 1;
}
.service-image-left {
    padding-right: 50px;
}
.service-image-right {
    padding-left: 50px;
}
.service-image-left > center > img,
.service-image-right > center > img {
    max-height: 155px;
}
hide {
    display: none;
}
.product-item {
    position: relative;
    margin-top: 20px;
    padding: 15px;
    background: #fff;
}
.product-item:hover {
    box-shadow: 5px 5px rgba(234, 234, 234, .9);
}
.product-item:after {
    font-size: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
}
.sticker {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 63px;
}
.sticker-new {
    right: 0;
    left: auto;
    background: url() no-repeat;
}
.pi-img-wrapper {
    position: relative;
    width: 350px;
    max-width: 350px;
    height: 350px;
    max-height: 350px;
}
.pi-img-wrapper img {
    width: 350px;
    max-width: 350px;
    height: 350px;
    max-height: 350px;
}
.pi-img-wrapper div {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .3);
}
.product-item:hover > .pi-img-wrapper > div {
    display: block;
}
.pi-img-wrapper div .btn {
    font-size: 12px;
    line-height: 1.4;
    position: relative;
    top: 50%;
    margin: -13px 5px 0;
    padding: 3px 10px;
    text-transform: uppercase;
    color: #fff;
    border: 1px #fff solid;
    background: transparent;
}
.product-item .btn:hover {
    border-color: #c8c8c8;
    background: #e84d1c;
}
.product-item h3 {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 4px;
    text-transform: uppercase;
}
.product-item h3 a {
    color: #3e4d5c;
}
.product-item h3 a:hover {
    color: #e02222;
}
.pi-price {
    font-size: 18px;
    float: left;
    padding-top: 1px;
    color: #e84d1c;
}
.product-item .add2cart {
    float: right;
    padding: 3px 6px;
    text-transform: uppercase;
    color: #a8aeb3;
    border: 1px #ededed solid;
}
.product-item .add2cart:hover {
    color: #fff;
    border-color: #e84d1c;
    background: #e84d1c;
}
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');
.event-list {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}
.event-list > li {
    margin-top: -10px;
    margin-bottom: 80px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(51, 51, 51);
    box-shadow: 0 0 5px rgba(51, 51, 51, .7);
}
.panel.panel-shadow {
    box-shadow: 0 0 5px rgb(51, 51, 51);
    box-shadow: 0 0 5px rgba(51, 51, 51, .7);
}
@media(max-width:800px) {
    .panel.panel-shadow {
        margin-top: 50px;
    }
}
.event-list > li > time {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: rgb(12, 44, 102);
}
.event-list > li:nth-child(even) > time {
    background-color: rgb(32, 82, 167);
}
.event-list > li > time > span {
    display: none;
}
.event-list > li > time > .day {
    font-size: 56pt;
    font-weight: 100;
    line-height: 1;
    display: block;
}
.event-list > li time > .month {
    font-size: 24pt;
    font-weight: 900;
    line-height: 1;
    display: block;
}
.event-list > li > img {
    width: 100%;
}
.event-list > li > .info {
    padding-top: 5px;
    text-align: center;
}
.event-list > li > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0;
}
.event-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
    position: absolute;
    right: 0;
    display: table;
    width: 100%;
    list-style: none;
    text-align: center;
}
.event-list > li > .social > ul {
    margin: 0;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
    font-size: 11pt;
    font-weight: 300;
    display: table-cell;
    padding: 3px 0;
    cursor: pointer;
    color: rgb(30, 30, 30);
}
.event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: rgb(30, 30, 30);
}
.event-list > li > .social > ul > li {
    padding: 0;
}
.event-list > li > .social > ul > li > a {
    padding: 3px 0;
}
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}
.facebook a,
.twitter a,
.google-plus a {
    display: block;
    width: 100%;
    color: rgb(75, 110, 168) !important;
}
.twitter a {
    color: rgb(79, 213, 248) !important;
}
.google-plus a {
    color: rgb(221, 75, 57) !important;
}
.facebook:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
}
.twitter:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(79, 213, 248) !important;
}
.google-plus:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(221, 75, 57) !important;
}
@media (min-width: 768px) {
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
        height: 120px;
        padding: 0;
    }
    .event-list > li > time,
    .event-list > li > img {
        display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img {
        float: left;
        width: 120px;
    }
    .event-list > li > .info {
        overflow: hidden;
        background-color: rgb(245, 245, 245);
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        height: 120px;
        margin: 0;
        padding: 0;
    }
    .event-list > li > .info {
        position: relative;
        height: 120px;
        padding-right: 40px;
        text-align: left;
    }
    .event-list > li > .info > .title,
    .event-list > li > .info > .desc {
        padding: 0 10px;
    }
    .event-list > li > .info > ul {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .event-list > li > .social {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 40px;
    }
    .event-list > li > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
    .event-list > li > .social > ul > li {
        display: block;
        padding: 0;
    }
    .event-list > li > .social > ul > li > a {
        display: block;
        width: 40px;
        padding: 10px 0 9px;
    }
}
.list-group {
    border-radius: 0;
}
.list-group .list-group-item {
    overflow: hidden;
    padding: 0 16px;
    border: 0;
    border-radius: 0;
    background-color: transparent;
}
.list-group .list-group-item .row-picture,
.list-group .list-group-item .row-action-primary {
    display: inline-block;
    float: left;
    padding-top: 8px;
    padding-right: 16px;
}
.list-group .list-group-item .row-picture img,
.list-group .list-group-item .row-action-primary img,
.list-group .list-group-item .row-picture i,
.list-group .list-group-item .row-action-primary i,
.list-group .list-group-item .row-picture label,
.list-group .list-group-item .row-action-primary label {
    display: block;
    width: 56px;
    height: 56px;
}
.list-group .list-group-item .row-picture img,
.list-group .list-group-item .row-action-primary img {
    padding: 1px;
    background: rgba(0, 0, 0, .1);
}
.list-group .list-group-item .row-picture img.circle,
.list-group .list-group-item .row-action-primary img.circle {
    border-radius: 100%;
}
.list-group .list-group-item .row-picture i,
.list-group .list-group-item .row-action-primary i {
    font-size: 20px;
    line-height: 56px;
    text-align: center;
    color: white;
    border-radius: 100%;
    background: rgba(0, 0, 0, .25);
}
.list-group .list-group-item .row-picture label,
.list-group .list-group-item .row-action-primary label {
    margin-top: 5px;
    margin-right: -7px;
    margin-bottom: -5px;
    margin-left: 7px;
}
.list-group .list-group-item .row-content {
    display: inline-block;
    width: calc(100% - 92px);
    min-height: 66px;
}
.list-group .list-group-item .row-content .action-secondary {
    position: absolute;
    top: 16px;
    right: 16px;
}
.list-group .list-group-item .row-content .action-secondary i {
    font-size: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, .25);
}
.list-group .list-group-item .row-content .action-secondary ~ * {
    max-width: calc(100% - 30px);
}
.list-group .list-group-item .row-content .least-content {
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 16px;
    color: rgba(0, 0, 0, .54);
}
.list-group .list-group-item .list-group-item-heading {
    font-size: 20px;
    line-height: 29px;
    color: rgba(0, 0, 0, .77);
}
.list-group .list-group-separator {
    clear: both;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
.list-group .list-group-separator:before {
    float: right;
    width: calc(100% - 90px);
    content: '';
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.bg-profile {
    z-index: 1;
    height: 150px;
    background-color: #3498db !important;
}
.bg-bottom {
    height: 100px;
    margin-left: 30px;
}
.img-profile {
    z-index: 2;
    display: inline-block !important;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -50%;
    padding: 1px;
    vertical-align: bottom;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: #fff;
}
.row-float {
    margin-top: -40px;
}
.explore a {
    font-size: 13px;
    font-weight: 600;
    color: green;
}
.twitter a {
    color: #4099ff;
}
.img-box {
    border: 0;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}


.nav-tabs li{
    max-height:60px;
    background:transparent;
    background-image:none;
    padding:10px;
}
    .comments-container {
        margin: 15px;
    }

    .comments-container h1 {
        font-size: 36px;
        color: #283035;
        font-weight: 400;
    }

    .comments-container h1 a {
        font-size: 18px;
        font-weight: 700;
    }



  .comments-list {
          width:100%;
          margin-top: 30px;
          position: relative;
  }


  @media (min-width:1000px){
       .comments-list {
        width:600px;
        margin-top: 30px;
        position: relative;
      }
   }


    .row.no-gutter {
        margin-left: 0;
        margin-right: 0;
    }

    .row.no-gutter [class*='col-']:not(:first-child),
    .row.no-gutter [class*='col-']:not(:last-child) {
        padding-right: 0;
        padding-left: 0;
    }

    .comments-list:before {

        width: 2px;
        height: 100%;
        background: #c7cacb;
        position: absolute;
        left: 32px;
        top: 0;
    }

    .comments-list:after {
        content: '';
        position: absolute;
        background: #c7cacb;
        bottom: 0;
        left: 27px;
        width: 7px;
        height: 7px;
        border: 3px solid #dee1e3;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    .reply-list:before,
    .reply-list:after {
        display: none;
    }

    .reply-list li:before {
        content: '';
        width: 60px;
        height: 2px;
        background: #c7cacb;
        position: absolute;
        top: 25px;
        left: -55px;
    }

    .comments-list li {
        margin-bottom: 15px;
        display: block;
        position: relative;
    }

    .comments-list li:after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        width: 0;
    }

    .reply-list {
        padding-left: 88px;
        clear: both;
        margin-top: 15px;
    }


    .comments-list .comment-avatar {
        width: 65px;
        height: 65px;
        position: relative;
        z-index: 1;
        float: left;
        border: 3px solid #FFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    .comments-list .comment-avatar img {
        width: 100%;
        height: 100%;
    }

    .reply-list .comment-avatar {
        width: 50px;
        height: 50px;
    }

    .comment-main-level:after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        clear: both;
    }


    .comments-list .comment-box {
        width:100%;

        position: relative;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    }

    .comments-list .comment-box:before,
    .comments-list .comment-box:after {
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        display: block;
        border-width: 10px 12px 10px 0;
        border-style: solid;
        border-color: transparent #FCFCFC;
        top: 8px;
        left: -11px;
    }

    .comments-list .comment-box:before {
        border-width: 11px 13px 11px 0;
        border-color: transparent rgba(0, 0, 0, 0.05);
        left: -12px;
    }

    .reply-list .comment-box {
        width:100%;
    }

    .comment-box .comment-head {
        background: #FCFCFC;
        padding: 10px 12px;
        border-bottom: 1px solid #E5E5E5;
        overflow: hidden;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
    }

    .comment-box .comment-head i {
        float: right;
        margin-left: 14px;
        position: relative;
        top: 2px;
        color: #A6A6A6;
        cursor: pointer;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }

    .comment-box .comment-head i:hover {
        color: #03658c;
    }

    .comment-box .comment-name {
        color: #283035;
        font-size: 14px;
        font-weight: 700;
        float: left;
        margin-right: 10px;
    }

    .comment-box .comment-name a {
        color: #283035;
    }

    .comment-box .comment-head span {
        float: left;
        color: #999;
        font-size: 13px;
        position: relative;
        top: 1px;
    }

    .comment-box .comment-content {
        background: #FFF;
        padding: 12px;
        font-size: 15px;
        color: #595959;
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
    }

    .comment-box .comment-name.by-author,
    .comment-box .comment-name.by-author a {
        color: #03658c;
    }

    .comment-box .comment-name.by-author:after {
        content: 'user';
        background: #03658c;
        color: #FFF;
        font-size: 12px;
        padding: 3px 5px;
        font-weight: 700;
        margin-left: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }


    @media only screen and (max-width: 766px) {

    }


.rectangle-list ol
{
counter-reset:li;
margin-left:0;
padding-left:0;
width:80%;
margin:auto;
}

/* item  */
.rectangle-list ol > li
{
position: relative;
list-style:none;
}


.rectangle-list p
{
display: block;
padding: .4em .4em .4em .8em;
*padding: .4em;
margin: .5em 0 .5em 2.5em;
background: #fff;
color: #444;
text-decoration: none;
-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;
}


.rectangle-list p:hover
{
background: lightblue;
}


.rectangle-list p:before
{
content: counter(li);
counter-increment: li;

position: absolute;
left: -2.5em;
top: 50%;
margin-top: -1em;

background: lightblue;
height: 2em;
width: 2em;
line-height: 2em;
text-align: center;
font-weight: bold;
}


.rectangle-list p:after
{
position: absolute;
left: -1em;
top: 50%;
margin-top: -.5em;

content: '';
border: .5em solid transparent;

-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;
}

.rectangle-list p:hover:after
{
left: -.5em;
border-left-color: lightblue;
}

.container{background-color:#f1f1f1;}
.watch-card{margin-top:50px;margin-bottom:50px;}
.watch-card > div{max-width:300px;}
.watch-card:hover .artist-title a, .watch-card:hover .listing-tab .tab-content ul li a{color:#167ac9;}
.listing-tab .tab-content ul li:hover{cursor:pointer;text-decoration:underline;}
.artist-title{padding:15px;background:#fff;}
.artist-title a{test-decoration:none;font-size:21px;font-family:arial, san-serif; color:#555;}
.artist-title a:hover{color:#16a3de;}
.artist-collage img{max-width:100%;}
.artist-collage{position:relative;max-height:150px;overflow:hidden;}
.artist-collage,.artist-collage div{padding:0;}
span.play-mix {
    position: absolute;
    top: 38%;
    z-index: 9;
    left: 30%;
    border: 3px solid rgba(255,255,255,.25);
}
span.btn.play-mix-btn {
    background-color: #000;
    padding: 5px 12px;
    border:none;
    border-radius: 2px;
    box-shadow:0 0 70px rgba(255,255,255,.5);
}
.collage-rhs img{margin-top:-5px;}
span.play-mix-btn:hover {
    box-shadow: 0 0 80px rgba(255,255,255,.9);
}
.listing-tab{
    padding:0;
}.itemms .artist-next{padding-left:0;}
.itemms .col-md-12{padding-right:0;}
.play-mix-btn span {
    color: #1775bc;
}
.itemms img{width:100%;}
.itemms h3 {
    font-size: 17px;
    margin-left: 15px;
    margin-top: 9px;
}.itemms{overflow:hidden;padding-bottom:10px;}
.listing-tab .tab-content ul{padding:0;margin:0;}
.listing-tab .tab-content ul li {
    list-style-type: none;
    border-bottom: 1px solid #eee;
    padding: 8px;
}.listing-tab .tab-content ul li {
    list-style-type: none;
    border-bottom: 1px solid #eee;
    padding: 8px;
    padding-left: 20px;
    font-size: 13px;
    color: #666;
}.listing-tab .tab-content ul li a{text-decoration:none; color:#666;}
.listing-tab .tab-content ul li span{display:inline-block;float:right;padding-right:10px;}
.listing-tab .nav-tabs>li,.nav-tabs>li a:hover{margin-bottom:0;background:none;}
.listing-tab .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{border:none;background:none;}
.listing-tab .nav-tabs>li>a:hover{border-color:none;color:red;}
.listing-tab .nav-tabs>li>a{border:0;padding:17px 0 7px;color:#333;margin-left:15px;}
.listing-tab .nav-tabs>li.active>a{border-bottom:2px solid #bb0000;color:#000;}
.listing-tab{background-color:#fff;}
#catlist{
    border-bottom:none;
    font-weight:normal;
	margin:10px auto;
}
#catlist dl{

	margin:0 auto;
border-style:solid;
border-color:#f3f3f3;
border-width:2px;
	padding:10px;
	overflow:hidden;
}
#catlist dd{overflow:auto}
#catlist dt strong{
	float:right;
	padding:0 0 0 20px;
}
#catlist dt img{
	float:left;
	margin:0 10px 0 0;
	border:1px solid #000;
}

.panel.panel-horizontal {
    display:table;
    width:100%;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
    display:table-cell;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
    width: 25%;
    border:0;
    vertical-align: middle;
}
.panel.panel-horizontal > .panel-heading {
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;

}
.panel.panel-horizontal > .panel-footer {
    border-left: 1px solid #ddd;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
}

.email {
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
       .title-header {padding: .75rem 1.25rem; background-color: #f5f5f5; border-bottom: 1px solid rgba(0,0,0,.125);}
.title-header h3 {font-size: 0.80rem; margin: 0;}
.img-card {width: 100%; margin-bottom: .40rem;}
.filmes {margin-bottom: .60rem;}
.series {margin-bottom: .60rem;}
.footer {padding: 1rem 0; margin-top: 2rem; font-size: 80%; text-align: left;}
.footer p {margin: 0;}
.footer-links {padding-left: 0; margin-bottom: 1rem;}
.footer-links li {display: inline-block;}
.footer a {font-weight: 500; color: inherit;}
.footer-links li + li {margin-left: 1rem;}

.card-style {
    display: block;
    background-color: #fff;
    height: 100px;
    width: 350px;
    margin: 20px 0px;
    box-shadow: 1px 1px 8px #999;
    cursor: pointer;
}
.card-img {
    height: 100px;
    width: 100px;
}
.media-heading {
    margin-top: 10px;
    color: #444;
}

.members {
    margin-top: 20px;
    color: #999;
    float: left;
 }
 .btn-part {
     display: inline-block;
     margin: 10px;
     float: right;
}
  span.itemPrice {
        font-size: 24px;
        color: #FA5B58;
    }

</style>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">

        <div class="container-fluid">
        <div class="row-fluid">
            <div class="panel">
            <div class="panel-heading text-black">User info</div>
            <div class="panel-body" id="userprofileinfocontainer">

            </div>
                <script type="text/html" id="userprofileinfotemplate">
                  <p>{{:user.displayName}}</p>
                  <address>
                      <strong>{{:user.firstName}} {{:user.lastName}}</strong><br>
                      <abbr title="Email">Email:</abbr> <i class="icon-globe"></i> {{:user.username}}@seatfilla.com
                  </address>
                </script>
            </div>
        </div>
    </div>
    <section class="filmes" id="filmes">
	<div class="row-fluid">
		<div class="col-sm-6">
			<article class="card">
				<header class="title-header">
					<h3>Image</h3>
				</header>
				<div class="card-block">
					<div class="img-card">
						<img src="https://placehold.it/300x250&text=HotelDeal" alt="" class="img img-responsive" />
					</div>
					<p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					<a href="#" class="btn btn-info btn-block"><i class="fa fa-eye"></i> View</a>
				</div>
			</article>
		</div>
		<div class="col-sm-6">
    		<article class="card">
				<header class="title-header">
					<h3>Image</h3>
				</header>
				<div class="card-block">
					<div class="img-card">
						<img src="https://placehold.it/300x250&text=HotelDeal" alt=""  class="img img-responsive"/>
					</div>
					<p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					<a href="#" class="btn btn-info btn-block"><i class="fa fa-eye"></i> View</a>
				</div>
			</article>
		</div>
    	<div class="col-sm-6">
    		<article class="card">
				<header class="title-header">
					<h3>Image</h3>
				</header>
				<div class="card-block">
					<div class="img-card">
						<img src="https://placehold.it/300x250&text=HotelDeal" alt=""  class="img img-responsive"/>
					</div>
					<p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					<a href="#" class="btn btn-info btn-block"><i class="fa fa-eye"></i> View</a>
				</div>
			</article>
		</div>
    	<div class="col-sm-6">
    		<article class="card">
				<header class="title-header">
					<h3>Image</h3>
				</header>
				<div class="card-block">
					<div class="img-card">
						<img src="https://placehold.it/300x250&text=HotelDeal" alt=""  class="img img-responsive"/>
					</div>
					<p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					<a href="#" class="btn btn-info btn-block"><i class="fa fa-eye"></i> View</a>
				</div>
			</article>
		</div>
	</div>
</section>
<br/>


            <div class="col-xs-12">
                <div class="panel panel-default" style="padding:40px">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="panel no-image material-blue-6 text-white">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <i class="fa fa-envelope-o fa-5x"></i>
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                <p class="announcement-heading text-white">1</p>
                                                <!--	<p class="announcement-text">Users</p> -->
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer announcement-bottom">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    Notifications
                                                </div>
                                                <div class="col-xs-6 text-right">
                                                    <i class="fa fa-arrow-circle-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel  material-pink-6 text-white">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <i class="fa fa-comment-o fa-5x"></i>
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                <p class="announcement-heading text-white">12</p>
                                                <!-- <p class="announcement-text"> Items</p> -->
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer announcement-bottom" style="border-color:white;border-width:2px;border-style:solid;">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    Chat
                                                </div>
                                                <div class="col-xs-6 text-right">
                                                    <i class="fa fa-arrow-circle-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel material-pink-6 text-white">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <i class="fa fa-bell-o fa-5x"></i>
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                <p class="announcement-heading ">18</p>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer announcement-bottom">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    Requests
                                                </div>
                                                <div class="col-xs-6 text-right">
                                                    <i class="fa fa-arrow-circle-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel  material-blue-6 text-white">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <i class="fa fa-comments fa-5x"></i>
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                <p class="announcement-heading">56</p>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer announcement-bottom">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    Complete
                                                </div>
                                                <div class="col-xs-6 text-right">
                                                    <i class="fa fa-arrow-circle-right"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->


                    </div>
                </div>
            </div>
            <!--col-->

            <div class="container-fluid">
            <div class="row">

                <div id="catlist">


        </div>
        </div>
        </div>
        </div>
        <!--col6-->

        <div class="col-md-6">
            <div class="row">


        <section>
        <div class="container-fluid">

            <div class="clearfix"></div>
                <div class="tabbable-panel margin-tops4 ">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs tabtop  tabsetting">
                    <li class="active"> <a href="#tab_default_1" data-toggle="tab"> Flight requests </a> </li>
                    <li> <a href="#tab_default_2" data-toggle="tab"> Accepted flight requests</a> </li>

                    </ul>
                    <div class="tab-content margin-tops">
                    <div class="tab-pane active fade in" id="tab_default_1">
                        <div class="panel panel-deault">
                        <div class="panel-heading"><p class="text-white">Flight requests</p></div>
                        <div class="panel-body" style="overflow-y:scroll;max-height:300px;">
                        <table border=0 class="rectangle-list">
                            <tr>
                                <td>
                                <ol>

                                </ol>
                                </td>
                            </tr>
                        </table>
                        </div>
                    </div>
                    </div>

                    <div class="tab-pane fade" id="tab_default_2">
                    <div class="panel panel-deault">
                        <div class="panel-heading"><p class="text-white">Accepted Flight Requests</p></div>
                        <div class="panel-body" style="overflow-y:scroll;max-height:300px;">
                        <table border=0 class="rectangle-list">
                            <tr>
                                <td>
                                <ol>


                                </ol>
                                </td>
                            </tr>
                        </table>
                        </div>
                    </div>
                    </div>

                    </div>
                </div>
                </div>
            </div>
            </section>


          </div>

          <div class="row">

            <section>
        <div class="container-fluid">

            <div class="clearfix"></div>
                <div class="tabbable-panel margin-tops4 ">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs tabtop  tabsetting">
                    <li class="active"> <a href="#tab_default_1" data-toggle="tab">Lates hotel bids</a></li>
                    <li> <a href="#tab_default_2" data-toggle="tab"> Latest flight bids</a></li>
                    <li> <a href="#tab_default_3" data-toggle="tab"> Winning hotel sales</a></li>
                    <li> <a href="#tab_default_4" data-toggle="tab"> Winning flight sales</a></li>
                    </ul>
                    <div class="tab-content margin-tops">
                    <div class="tab-pane active fade in" id="tab_default_1">
                             <div class="panel">
                <div class="panel-heading">
                    <p class="text-black">
                        Latest hotel bids</p>
                </div>
                <div class="table-responsive" style="padding:20px;max-height:400px;overflow-y:scroll;">
                      <script type="text/html" id="hotelbidtemplate">
                            <tr class="">
                                <td>
                                    <div class="media">
                                        <a href="#" class="pull-left">
                                            {{if ~getCurrentProfileUser() && ~getCurrentProfileUser().image}}
                                            <img alt="" src="{{:~getCurrentProfileUser().image}}" width="50" height="50" class="media-object">
                                            {{else}}
                                            <img alt="" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=80&h=80" width="50" height="50" class="media-object">
                                            {{/if}}
                                        </a>
                                        <div class="media-body">
                                            <p class="email-summary"><strong>{{:~timeSinceNow(createdAt,'hours')}} hours ago</strong></p><br/>
                                            <span class="text-center">{{:~getCurrentProfileUser().username}} bidded on a hotel for: <br/></span>
                                            <span class="itemPrice" data-attr-price="">
                                            <span data-attr-currency-symbol="{{:~currencySymbolFor(currency || 'USD')}}">{{:~currencySymbolFor(currency || 'USD')}}</span>
											<span data-attr-amount="{{:bidAmount}}">{{:~toFixedDp(bidAmount,2)}}</span>
											<span data-attr-currency-code="{{:currency || 'USD'}}">{{:currency || 'USD'}}</span>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </script>
                    <table class="table table-hover table-email">
                        <tbody id="hotelbidcontainer">
                        </tbody>
                    </table>
                <!-- /.table-responsive -->
            </div>
            <!--panel-->
                    </div>
                    </div>

                    <div class="tab-pane fade" id="tab_default_2">
                    <div class="panel panel-deault">
                             <div class="panel">
                <div class="panel-heading ">
                    <p class="text-white">
                       Latest flight bids</p>
                </div>
                <div class="table-responsive" style="padding:20px">
                    <table class="table table-hover table-email">
                           <script type="text/html" id="flightbidtemplate">
                            <tr class="">
                                <td>
                                    <div class="media">
                                        <a href="#" class="pull-left">
                                            {{if ~getCurrentProfileUser() && ~getCurrentProfileUser().image}}
                                            <img alt="" src="{{:~getCurrentProfileUser().image}}" width="50" height="50" class="media-object">
                                            {{else}}
                                            <img alt="" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=80&h=80" width="50" height="50" class="media-object">
                                            {{/if}}
                                        </a>
                                        <div class="media-body">
                                            <p class="email-summary"><strong>{{:~timeSinceNow(createdAt,'hours')}} hours ago</strong></p><br/>
                                            <span class="text-center">{{:~getCurrentProfileUser().username}} bidded on a hotel for: <br/></span>
                                            <span class="itemPrice" data-attr-price=""><span data-attr-currency-symbol="{{:~currencySymbolFor(currency || 'USD')}}">{{:~currencySymbolFor(currency || 'USD')}}</span>
											<span data-attr-amount="{{:bidAmount}}">{{:~toFixedDp(bidAmount,2)}}</span>
											<span data-attr-currency-code="{{:currency || 'USD'}}">{{:currency || 'USD'}}</span>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </script>
                        <tbody id="flightbidcontainer">
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!--panel-->
                    </div>
                    </div>


                <div class="tab-pane fade" id="tab_default_3">
                    <div class="panel panel-deault">
                             <div class="panel">
                <div class="panel-heading ">
                    <p class="text-black">
                        Winning hotel sales</p>
                </div>
                <div class="table-responsive" style="padding:20px">
                    <table class="table table-hover table-email">
                        <script type="text/html" id="winninghotelsalestemplate">
                          <tr data-attr-id={{:id}} class="">
                                <td>
                                    <div class="media">
                                            {{if ~getCurrentProfileUser() && ~getCurrentProfileUser().image}}
                                            <img alt="" src="{{:~getCurrentProfileUser().image}}" width="50" height="50" class="media-object">
                                            {{else}}
                                            <img alt="" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=80&h=80" width="50" height="50" class="media-object">
                                            {{/if}}
                                        <div class="media-body">
                                            <p class="email-summary"><strong> Winning acution for hotel</strong> {{:hotel.hotelName}}<br/>

																<table class="col-xs-12 table-responsive  table-striped table-condensed cf" style="font-size:12px;padding:0px;margin:0px;border-color:white;border-width:1px;">
																	<thead class="cf material-blue-5 text-white">
																		<tr>
																	<th>Check in date</th>
																	<th>Check out date</th>
																	<th>Total days (including checkout)</th>
																	<th>Number of guests</th>
																	<th>Number of rooms</th>
																	<th>Sale type:</th>
																	<th>Time left (hours):</th>
																	</thead>
																	<tbody style="border-width:1px;border-color:#f3f3f3;border-style:solid;">
																		<tr>
																	<td>{{:~dateFormat(hotel.checkInDate,'YYYY-MM-DD')}}</td>
																	<td>{{:~dateFormat(hotel.checkOutDate,'YYYY-MM-DD')}}</td>
																	<td>{{:~dateDiff(hotel.checkOutDate,hotel.checkInDate,'days')}}</td>
																	<td>{{:hotel.numberOfGuests}}</td>
																	<td> {{:hotel.numberOfRooms}}</td>
																	<td> {{:hotel.saleType}}</td>
																	<td>{{:~dateDiff(~momentNow(),~dateSub(hotel.checkInDate,1,'days'),'hours')}}</td>
																	</tr>
																	</tbody>
																</table>

                                            <div class="pull-right">
                                            <a href="/hotel/findOne/{{:hotel.id}}?provider={{:hotel.provider}}">View this hotel</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr><br/>
                        </script>
                        <tbody id="winninghotelsalescontainer">

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!--panel-->
                    </div>
                    </div>




                    </div>
                </div>
                </div>
            </div>
            </section>

            <div class="artist-title col-md-12">
                <a href="">Content</a><br/>
            </div>
            <div class="artist-collage col-md-12">
                <span class="play-mix"><span class="btn btn-info play-mix-btn"> Deals</span></span>
                <div class="col-md-6"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=200&h=200" width="150" height="150"></div>
                <div class="col-md-6 collage-rhs">
                    <div class="col-md-12"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=200&h=200"  width="150" height="84"></div>
                    <div class="col-md-12"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=200&h=200" width="150" height="84"></div>
                </div>
            </div>
            <div class="listing-tab col-md-12">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" id="myTabs" role="tablist">
                    <li role="presentation" class="active"><a href="#items" aria-controls="items" role="tab" data-toggle="tab">Items</a></li>
                    <li role="presentation"><a href="#albums" aria-controls="albums" role="tab" data-toggle="tab">Other</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="items">
                        <ul>
                            <li><a href="#"></a> Item   <span> one</span></li>

                        </ul>
                        <div class="itemms">
                            <h3></h3>
                            <div class="col-md-12">
                                <div class="col-md-4 artist-next"><img src="" alt="" ></div>
                                <div class="col-md-4 artist-next"><img src="" alt="" ></div>
                                <div class="col-md-4 artist-next"><img src="" alt="" ></div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="albums">
                        <ul>
                            <li><a href="#"><img src="" alt="" width="50" height="50"> </a></li>

                        </ul>
                        <div class="itemms">
                            <h3></h3>
                            <div class="col-md-12">
                                <div class="col-md-4 artist-next"><img src="" alt=""></div>
                                <div class="col-md-4 artist-next"><img src="" alt=""></div>
                                <div class="col-md-4 artist-next"><img src="" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


          </div>




<div class="container-fluid">
    <div class="row">







</div>
        </div>

        </div>
    </div>

<!--COMMENTS-->
<div class="container-fluid">
    <div class="row">
        <!-- Contenedor Principal -->
        <div class=" pull-left">
            <div class="panel-heading material-blue-6 text-white">Comments</div>
         <div class="">
            <br/>
            <form class="commentForm" action="/userprofilecomment/create" method="POST">

                    <label for="message">Your Comment</label>
                    <br/>
                    <textarea name="message" id="top-level-comment-message" required="" data-msg="Please enter a message" class="form-control" rows="5"></textarea>
                    <input type="hidden" name="userProfile" value="<%=data.UserProfile.id%>"/>
                    <input type="hidden" name="isReply" value="false"/>
                    <br/>
                    <button type="submit" class="btn pull-right material-blue-7 text-white">Post comment</button>
                    <br/><br/>

            </form>
            </div>

            <ul id="userprofilecommentcontainer" class="comments-list">
                <!--COMMENTS RENDERED HERE-->
            </ul>
            <br/>
            <button class="btn btn-block material-blue-5 text-white">More comments</button>
        <!--container--></div>
    </div>
</div>
<!--COMMENTS-->
</div>

<!--  statitics -->
<script type="text/html" id="userprofilecommentreplytemplate">
    <li data-attr-eventName="userprofilecommentreply" data-attr-id="{{:id}}">
        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
        <div class="comment-box">
            <div class="comment-head">
                <h6 class="comment-name"><a href="http://creaticode.com/blog">{{:user.username}}</a></h6>
                <span>{{:createdAt}}</span>
                <i class="fa fa-reply"></i>
                <i class="fa fa-heart"></i>
            </div>
            <div class="comment-content">
                {{:message}}
            </div>
        </div>
    </li>
</script>
<script type="text/html" id="userprofilecommenttemplate">
    <li data-attr-eventName="userprofilecomment" data-attr-id="{{:id}}">
        <div class="comment-main-level">
            <div class="comment-avatar"><img src="https://placeholdit.imgix.net/~text?w=80&h=80" alt=""></div>
            <div class="comment-box">
                <div class="comment-head">
                    <h6 class="comment-name by-author"><a class="text-black" href="http://creaticode.com/blog">{{:user.username}}</a></h6>
                    <span>{{:~timeSinceNow(createdAt,'days')}} day(s) ago</span>
                    <i class="fa fa-reply show-reply-panel" data-attr-reply-panel="{{:id}}"></i>
                </div>
                <div class="comment-content">
                    {{:message}}
                </div>
            </div>
        </div>

        {{if replies && replies.length}}
        <div class="panel-heading">
        Replies
        <div class="pull-right"> Load previous </div>
        </div>
        {{/if}}
        <ul class="comments-list reply-list userprofilecommentreplies" style="max-height:400px;overflow-y:scroll;">
            {{for replies}}

             <li data-attr-eventName="userprofilecommentreply" data-attr-id="{{:id}}">
                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name"><a href="http://creaticode.com/blog">{{:user.username}}</a></h6>
                        <span>{{:~timeSinceNow(createdAt,'days')}} day(s) ago</span>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                        {{:message}}
                    </div>
                </div>
            </li>
            {{/for}}
        </ul>
        <div class="panel hide reply-panel" data-attr-panel-id="{{:id}}">
            <div class="panel-heading">
                <small class="">Reply</small>
            </div>
            <form method="POST" action="/userprofilecomment/{{:id}}/replies" class="replyForm">
                <div class="form-group" style="padding:0px;margin:0px;">
                    <div class="row no-gutter">
                        <div class="col-xs-10">
                            <textarea placeholder="Write your reply" style="min-height:100px;min-width:100%;" name="message" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="col-xs-2">
                            <input type="hidden" name="userProfile" value="<%=data.UserProfile.id%>"/>
                            <input type="hidden" name="isReply" value="true"/>
                            <button type="submit" style="min-height:100px;" class="btn btn-sm pull-right btn-block material-blue-6">
                                <i class="fa fa-reply text-white"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </li>
</script>

<!--Lazily loaded script-->
<div style="display:hidden;" data-attr-lazyload-sync="" data-attr-src="/scripts/user-profile.findOneByUser.js"></div>
