

<script>

  $('#pcontent').load('/UserProfile/<%=req.user.username%>/FlightRequest/Create',function(res){
    console.log(res)
    $.inputHookInit();
    $('#departure_date').val(moment().format('YYYY-MM-DD'))
    $('#departure_date_end').val(moment().format('YYYY-MM-DD'))
    $('#return_date').val(moment().add(7,'days').format('YYYY-MM-DD'))
    $('#return_date_end').val(moment().add(7,'days').format('YYYY-MM-DD'))
    $('#flightRequestForm').on('submit',function(e){
      e.preventDefault();
      console.log('click')

      console.log($('#departure_date').val())
      const departureDateMoment = moment($('#departure_date').val())
      const departureDateEndMoment = moment($('#departure_date_end').val())
      const returnDateMoment = moment($('#return_date').val())
      const returnDateEndMoment = moment($('#return_date_end').val())

      if(!departureDateMoment.isValid() || !departureDateEndMoment.isValid()
      || !returnDateMoment.isValid() || !returnDateEndMoment.isValid()){
          $.toaster({message:'Invalid dates',priority:'danger'})
          return;
      }

      if(!departureDateMoment.isSameOrAfter(moment(moment().format('YYYY-MM-DD')))){
          $.toaster({message:'Departure date must be in the future',priority:'danger'})
          return;
      }

      if(!returnDateMoment.isSameOrAfter(moment(moment().format('YYYY-MM-DD')))){
          $.toaster({message:'Return date must be in the future',priority:'danger'})
      }

      if(!departureDateEndMoment.isSameOrAfter(departureDateMoment)){
        $.toaster({message:'Start departure date must be before end departure date',priority:'danger'})
        return;
      }

      if(!returnDateEndMoment.isSameOrAfter(returnDateMoment)){
        $.toaster({message:'Start return date must be before end return date ',priority:'danger'})
        return;
      }

      const departureCountry = $('#departureCountry');
      const arrivalCountry = $('#arrivalCountry');

      if($('#departureCountry option:selected').attr('data-attr-countryCode') ===
         $('#arrivalCountry option:selected').attr('data-attr-countryCode')){
        $.toaster({message:'Departure and arrival country cannot be the same',priority:'danger'})
        return;
      }

      if($('#arrivalCity option:selected').attr('data-attr-iataCode') ===
      $('#departureCity option:selected').attr('data-attr-iataCode')){
        $.toaster({message:'Departure and arrival city cannot be the same',priority:'danger'})
        return;
      }

      var obj = $('#flightRequestForm').serialize();
      var obj2 = {
        departureIataCode:$('#departureCity option:selected').attr('data-attr-iataCode'),
        departureLocation:$('#departureCity option:selected').attr('data-attr-location'),
        departureCountryId :$('#departureCity option:selected').attr('data-attr-countryId'),
        departureCountryCurrency:$('#departureCountry option:selected').attr('data-attr-currency'),
        departureCountryCountryCode:$('#departureCountry option:selected').attr('data-attr-countryCode'),
        arrivalIataCode: $('#arrivalCity option:selected').attr('data-attr-iataCode'),
        arrivalCountryCurrency: $('#arrivalCountry option:selected').attr('data-attr-currency'),
        arrivalCity:$('#arrivalCity').val(),
        arrivalCountryCountryCode:$('#arrivalCountry option:selected').attr('data-attr-countryCode'),
        arrivalCountryId :$('#arrivalCity option:selected').attr('data-attr-countryId'),
        arrivalLocation:$('#arrivalCity option:selected').attr('data-attr-location'),
        currency :$('#seatfilla_currencies option:selected').val(),
        timeZoneOffset: new Date().getTimezoneOffset(),
        requestLocale: 'en-US',
      }
      $.ajax({
        url:'/UserProfile/<%=req.user.username%>/FlightRequest/Create',
        method:'POST',
        data:obj + '&'+$.param(obj2),
        success:function(res){
          console.log(res);
          $.toaster({priority:'info',message:'Succesfully created flight request'})
        },
        error:function(){
          $.toaster({priority:'danger',message:'Error creating flight request'})
        }
      })
    })
  })

</script>
<div class="container-fluid">
    <div class="">
        <ul class="nav nav-tabs" data-container="#pc">
          <li class="active"><a data-page="/userprofile/<%=req.user.username%>/FlightRequest/create" data-toggle="tab">Request a flight</a></li>

        </ul>
        <div id="tabContent" class="tab-content">
          <div id="pcontent" class="tab-pane active in" id="pc">

          </div>
        </div>
    </div>
</div>
