

<div class="container-fluid">
    <div class="">
        <ul class="nav nav-tabs" data-container="#pc">
          <li class="active"><a data-page="/userprofile/<%=req.user.username%>/FlightRequest/create" data-toggle="tab">Create flight request</a></li>
          <li><a href="#aim" data-toggle="tab">Aim</a></li>
          <li><a href="#precedure" data-toggle="tab">Procedure & Demo</a></li>
          <li><a href="#simulation" data-toggle="tab">Simulation</a></li>
          <li><a href="#assignment" data-toggle="tab">Assignments</a></li>
          <li><a href="#references" data-toggle="tab">References</a></li>
          <li><a href="#feedback" data-toggle="tab">Feedback</a></li>
          <li><a href="#people" data-toggle="tab">People</a></li>
        </ul>
        <div id="tabContent" class="tab-content">
          <div class="tab-pane active in" id="pc">
            
          </div>
        </div>
    </div>
</div>