    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:26
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-air-conditioning:before { content: "\f100"; }
.flaticon-ballons:before { content: "\f101"; }
.flaticon-bib:before { content: "\f102"; }
.flaticon-bicycle:before { content: "\f103"; }
.flaticon-bone:before { content: "\f104"; }
.flaticon-bottle:before { content: "\f105"; }
.flaticon-breakfast:before { content: "\f106"; }
.flaticon-bubbles:before { content: "\f107"; }
.flaticon-candy:before { content: "\f108"; }
.flaticon-cat:before { content: "\f109"; }
.flaticon-chronometer:before { content: "\f10a"; }
.flaticon-cofee-maker:before { content: "\f10b"; }
.flaticon-coffee-cup:before { content: "\f10c"; }
.flaticon-credit-card:before { content: "\f10d"; }
.flaticon-desk:before { content: "\f10e"; }
.flaticon-doorman:before { content: "\f10f"; }
.flaticon-dvd-player:before { content: "\f110"; }
.flaticon-elevator:before { content: "\f111"; }
.flaticon-emergency-exit:before { content: "\f112"; }
.flaticon-film-festival:before { content: "\f113"; }
.flaticon-fire-alarm:before { content: "\f114"; }
.flaticon-fire-extinguisher:before { content: "\f115"; }
.flaticon-fireplace:before { content: "\f116"; }
.flaticon-first-aid:before { content: "\f117"; }
.flaticon-fish:before { content: "\f118"; }
.flaticon-hair-dryer:before { content: "\f119"; }
.flaticon-heating:before { content: "\f11a"; }
.flaticon-horse:before { content: "\f11b"; }
.flaticon-iron:before { content: "\f11c"; }
.flaticon-laptop:before { content: "\f11d"; }
.flaticon-massage-table:before { content: "\f11e"; }
.flaticon-meal:before { content: "\f11f"; }
.flaticon-microwave-oven:before { content: "\f120"; }
.flaticon-mirror:before { content: "\f121"; }
.flaticon-newspaper:before { content: "\f122"; }
.flaticon-parking:before { content: "\f123"; }
.flaticon-refrigerator:before { content: "\f124"; }
.flaticon-safe-deposit-box:before { content: "\f125"; }
.flaticon-shampoo:before { content: "\f126"; }
.flaticon-smoking:before { content: "\f127"; }
.flaticon-speaker:before { content: "\f128"; }
.flaticon-swimming-pool:before { content: "\f129"; }
.flaticon-television:before { content: "\f12a"; }
.flaticon-tennis:before { content: "\f12b"; }
.flaticon-tooth-brush-and-toothpaste:before { content: "\f12c"; }
.flaticon-towel:before { content: "\f12d"; }
.flaticon-washing-machine:before { content: "\f12e"; }
.flaticon-wheelchair-access:before { content: "\f12f"; }
.flaticon-wireless-mouse:before { content: "\f130"; }
.flaticon-yoga-mat:before { content: "\f131"; }
    
    $font-Flaticon-air-conditioning: "\f100";
    $font-Flaticon-ballons: "\f101";
    $font-Flaticon-bib: "\f102";
    $font-Flaticon-bicycle: "\f103";
    $font-Flaticon-bone: "\f104";
    $font-Flaticon-bottle: "\f105";
    $font-Flaticon-breakfast: "\f106";
    $font-Flaticon-bubbles: "\f107";
    $font-Flaticon-candy: "\f108";
    $font-Flaticon-cat: "\f109";
    $font-Flaticon-chronometer: "\f10a";
    $font-Flaticon-cofee-maker: "\f10b";
    $font-Flaticon-coffee-cup: "\f10c";
    $font-Flaticon-credit-card: "\f10d";
    $font-Flaticon-desk: "\f10e";
    $font-Flaticon-doorman: "\f10f";
    $font-Flaticon-dvd-player: "\f110";
    $font-Flaticon-elevator: "\f111";
    $font-Flaticon-emergency-exit: "\f112";
    $font-Flaticon-film-festival: "\f113";
    $font-Flaticon-fire-alarm: "\f114";
    $font-Flaticon-fire-extinguisher: "\f115";
    $font-Flaticon-fireplace: "\f116";
    $font-Flaticon-first-aid: "\f117";
    $font-Flaticon-fish: "\f118";
    $font-Flaticon-hair-dryer: "\f119";
    $font-Flaticon-heating: "\f11a";
    $font-Flaticon-horse: "\f11b";
    $font-Flaticon-iron: "\f11c";
    $font-Flaticon-laptop: "\f11d";
    $font-Flaticon-massage-table: "\f11e";
    $font-Flaticon-meal: "\f11f";
    $font-Flaticon-microwave-oven: "\f120";
    $font-Flaticon-mirror: "\f121";
    $font-Flaticon-newspaper: "\f122";
    $font-Flaticon-parking: "\f123";
    $font-Flaticon-refrigerator: "\f124";
    $font-Flaticon-safe-deposit-box: "\f125";
    $font-Flaticon-shampoo: "\f126";
    $font-Flaticon-smoking: "\f127";
    $font-Flaticon-speaker: "\f128";
    $font-Flaticon-swimming-pool: "\f129";
    $font-Flaticon-television: "\f12a";
    $font-Flaticon-tennis: "\f12b";
    $font-Flaticon-tooth-brush-and-toothpaste: "\f12c";
    $font-Flaticon-towel: "\f12d";
    $font-Flaticon-washing-machine: "\f12e";
    $font-Flaticon-wheelchair-access: "\f12f";
    $font-Flaticon-wireless-mouse: "\f130";
    $font-Flaticon-yoga-mat: "\f131";